In [1]:
import pandas as pd
import geopandas as gpd
import os, glob

In [2]:
run_dir = 'M:\\Application\\Model One\\RTP2021\\Blueprint\\VMT per capita or worker'
os.chdir(run_dir)

In [3]:
taz = gpd.read_file(r'M:\Data\GIS layers\Travel_Analysis_Zones_(TAZ1454)\Travel Analysis Zones.shp')
print('Read {} rows of TAZ1454 shapefile'.format(taz.shape[0]))
print(list(taz))
taz = taz[['SUPERD','TAZ1454']]
display(taz.head())

Read 1454 rows of TAZ1454 shapefile
['SUPERD', 'TAZ1454', 'Shape__Are', 'Shape__Len', 'geometry']

   SUPERD  TAZ1454
0      18      939
1      18      974
2      18      914
3      18      920
4      18      921

In [4]:
SD_name = pd.read_csv(r'M:\Data\GIS layers\TM1_taz\superdistrict_names.csv')
print('Read {} rows of superdistrict ID-name lookup'.format(SD_name.shape[0]))
display(SD_name.head())

taz_county = pd.read_csv(r'C:\Users\{}\Documents\GitHub\petrale\zones\taz1454\taz1454_names.csv'.format(os.getenv('USERNAME')),
                        usecols = ['taz_key', 'county'])
print('Read {} rows of TAZ-county lookup'.format(taz_county.shape[0]))

county_dict = {'sfr': 'San Francisco',
               'smt': 'San Mateo',
               'scl': 'Santa Clara',
               'ala': 'Alameda',
               'cnc': 'Contra Costa',
               'sol': 'Solano',
               'nap': 'Napa',
               'son': 'Sonoma',
               'mar': 'Marin'}
taz_county['county'] = taz_county['county'].map(county_dict)
display(taz_county.head())

Read 34 rows of superdistrict ID-name lookup

   SUPERD                          SD_NAME
0       1   Greater Downtown San Francisco
1       2  San Francisco Richmond District
2       3   San Francisco Mission District
3       4    San Francisco Sunset District
4       5          Daly City and San Bruno

Read 1454 rows of TAZ-county lookup

   taz_key         county
0        1  San Francisco
1        2  San Francisco
2        3  San Francisco
3        4  San Francisco
4        5  San Francisco

In [5]:
taz = taz.merge(taz_county,
                left_on='TAZ1454',
                right_on='taz_key',
                how='inner').merge(SD_name,
                                   on='SUPERD',
                                   how='left')
taz.drop(columns=['taz_key'], inplace=True)

In [6]:
taz.to_csv(os.path.join(run_dir, 'Tableau', 'taz_index.csv'), index=False)

### home vmt

In [7]:
def vmt_percapita_cat(x):
    if x > 20:
        return 'More than 20'
    elif x > 15:
        return '15 to 20'
    elif x > 10:
        return '10 to 15'
    elif x > 5:
        return '5 to 10'
    else:
        return 'Less than 5'

def vmt_perworker_cat(x):
    if x > 30:
        return 'More than 30'
    elif x > 25:
        return '25 to 30'
    elif x > 20:
        return '20 to 25'
    elif x > 15:
        return '15 to 20'
    else:
        return 'Less than 15'

In [8]:
vmt_by_TAZ = pd.DataFrame(columns=['TAZ1454',
                                   'total_vmt_resident', 'total_pop_resident',
                                   'vmtpercapita', 'vmtpercapitaCat',
                                   'total_vmt_worker', 'total_pop_worker',
                                   'vmtperworker', 'vmtperworkerCat', 'type', 'scen', 'year'])

vmt_by_SD = pd.DataFrame(columns=['SUPERD', 'SD_NAME',
                                  'total_vmt_resident', 'total_pop_resident',
                                  'vmtpercapita', 'vmtpercapitaCat',
                                  'total_vmt_worker', 'total_pop_worker',
                                  'vmtperworker', 'vmtperworkerCat', 'type', 'scen', 'year'])

vmt_by_COUNTY = pd.DataFrame(columns=['county',
                                      'total_vmt_resident', 'total_pop_resident',
                                      'vmtpercapita', 'vmtpercapitaCat',
                                      'total_vmt_worker', 'total_pop_worker',
                                      'vmtperworker', 'vmtperworkerCat', 'type', 'scen', 'year'])


for file in list(glob.glob('*.csv')):
#     print(file)
    
    if 'Home' in file:
        df = pd.read_csv(file, usecols = ['taz', 'total_vmt', 'total_pop', 'vmtpercapita'])
        df.rename(columns = {'taz': 'TAZ1454',
                             'total_vmt': 'total_vmt_resident',
                             'total_pop': 'total_pop_resident'}, inplace=True)
    elif 'Work' in file:
        df = pd.read_csv(file, usecols = ['WorkLocation', 'total_vmt', 'total_pop', 'vmtperworker'])
        df.rename(columns = {'WorkLocation': 'TAZ1454',
                             'total_vmt': 'total_vmt_worker',
                             'total_pop': 'total_pop_worker'}, inplace=True)
        
    print('{} has {} rows of TAZ summary data'.format(file, df.shape[0]))
    
    df = df.merge(taz, on='TAZ1454', how='right')
    display(df.head())

    # summarize by SD and County
    if 'Home' in file:
        for i in ['total_vmt_resident', 'total_pop_resident']:
            df[i] = df[i].fillna(0)

        df_SD = df.groupby(['SUPERD', 'SD_NAME'])['total_vmt_resident', 'total_pop_resident'].sum().reset_index()
        df_SD['vmtpercapita'] = df_SD['total_vmt_resident']/df_SD['total_pop_resident']
        
        df_county = df.groupby('county')['total_vmt_resident', 'total_pop_resident'].sum().reset_index()
        df_county['vmtpercapita'] = df_county['total_vmt_resident']/df_county['total_pop_resident']
        
    if 'Work' in file:
        for i in ['total_vmt_worker', 'total_pop_worker']:
            df[i] = df[i].fillna(0)
        
        df_SD = df.groupby(['SUPERD', 'SD_NAME'])['total_vmt_worker', 'total_pop_worker'].sum().reset_index()
        df_SD['vmtperworker'] = df_SD['total_vmt_worker']/df_SD['total_pop_worker']
        
        df_county = df.groupby('county')['total_vmt_worker', 'total_pop_worker'].sum().reset_index()
        df_county['vmtperworker'] = df_county['total_vmt_worker']/df_county['total_pop_worker']
        
       
    # add fields to represent output scenario and year
    run_year = file.split('.')[0].split('_')[1]

    if 'TM152' in file:
        if file.split('.')[0].split('_')[4] == 'NoProject':
            scen = 'PBA50_NP'
        elif file.split('.')[0].split('_')[4] == 'Plus':
            scen = 'PBA50_Plus'
        elif file.split('.')[0].split('_')[4] == 'PlusCrossing':
            scen = 'PBA50_Plus'
        else:
            scen = 'PBA50_' + file.split('.')[0].split('_')[4]
    elif '06_694' in file:
        scen = 'PBA40'

    print('scen: {}, year: {}'.format(scen, run_year))
    
    if 'Home' in file:
        df['type'] = 'resident'
        df_SD['type'] = 'resident'
        df_county['type'] = 'resident'
    elif 'Work' in file:
        df['type'] = 'worker'
        df_SD['type'] = 'worker'
        df_county['type'] = 'worker'
    
    df['scen'] = scen
    df_SD['scen'] = scen
    df_county['scen'] = scen
    
    df['year'] = run_year
    df_SD['year'] = run_year
    df_county['year'] = run_year

    if 'Home' in file:
        df['vmtpercapitaCat'] = df['vmtpercapita'].apply(lambda x: vmt_percapita_cat(x))
        df_SD['vmtpercapitaCat'] = df_SD['vmtpercapita'].apply(lambda x: vmt_percapita_cat(x))
        df_county['vmtpercapitaCat'] = df_county['vmtpercapita'].apply(lambda x: vmt_percapita_cat(x))
    elif 'Work' in file:    
        df['vmtperworkerCat'] = df['vmtperworker'].apply(lambda x: vmt_perworker_cat(x))
        df_SD['vmtperworkerCat'] = df_SD['vmtperworker'].apply(lambda x: vmt_perworker_cat(x))
        df_county['vmtperworkerCat'] = df_county['vmtperworker'].apply(lambda x: vmt_perworker_cat(x))
    
#     display(df)
#     display(df_SD)
#     display(df_county)

    vmt_by_TAZ = pd.concat([vmt_by_TAZ, df])
    vmt_by_SD = pd.concat([vmt_by_SD, df_SD])
    vmt_by_COUNTY = pd.concat([vmt_by_COUNTY, df_county])

Home_2025_TM152_FBP_Plus_22.csv has 1445 rows of TAZ summary data

,TAZ1454,total_vmt_resident,total_pop_resident,vmtpercapita,SUPERD,county,SD_NAME
0,939,41622.673077,3424.0,12.156155,18,Alameda,Oakland and Alameda
1,974,48482.573077,5492.0,8.827854,18,Alameda,Oakland and Alameda
2,914,95716.591538,5320.0,17.991841,18,Alameda,Oakland and Alameda
3,920,34684.050000,2030.0,17.085739,18,Alameda,Oakland and Alameda
4,921,37885.455385,2746.0,13.796597,18,Alameda,Oakland and Alameda

scen: PBA50_Plus, year: 2025
Home_2030_06_694.csv has 1441 rows of TAZ summary data

C:\Users\ywang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:44: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
C:\Users\ywang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:47: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

,TAZ1454,total_vmt_resident,total_pop_resident,vmtpercapita,SUPERD,county,SD_NAME
0,939,49278.503846,3798.0,12.974856,18,Alameda,Oakland and Alameda
1,974,63222.641538,7030.0,8.993263,18,Alameda,Oakland and Alameda
2,914,101843.590769,5422.0,18.783399,18,Alameda,Oakland and Alameda
3,920,32498.040000,1914.0,16.979122,18,Alameda,Oakland and Alameda
4,921,43070.228462,2808.0,15.338400,18,Alameda,Oakland and Alameda

scen: PBA40, year: 2030
Home_2030_TM152_FBP_Plus_23.csv has 1447 rows of TAZ summary data

C:\Users\ywang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:44: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
C:\Users\ywang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:47: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

,TAZ1454,total_vmt_resident,total_pop_resident,vmtpercapita,SUPERD,county,SD_NAME
0,939,42157.178462,3622.0,11.639199,18,Alameda,Oakland and Alameda
1,974,49721.526154,6076.0,8.183266,18,Alameda,Oakland and Alameda
2,914,95448.565385,5432.0,17.571533,18,Alameda,Oakland and Alameda
3,920,29940.708462,1846.0,16.219235,18,Alameda,Oakland and Alameda
4,921,37080.642308,2772.0,13.376855,18,Alameda,Oakland and Alameda

scen: PBA50_Plus, year: 2030
Home_2035_TM152_EIR_Alt1_05.csv has 1447 rows of TAZ summary data

C:\Users\ywang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:44: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
C:\Users\ywang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:47: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

,TAZ1454,total_vmt_resident,total_pop_resident,vmtpercapita,SUPERD,county,SD_NAME
0,939,39396.924615,3642.0,10.817387,18,Alameda,Oakland and Alameda
1,974,50224.246154,6980.0,7.195451,18,Alameda,Oakland and Alameda
2,914,87876.230769,5440.0,16.153719,18,Alameda,Oakland and Alameda
3,920,33769.043077,2106.0,16.034683,18,Alameda,Oakland and Alameda
4,921,30507.145385,2574.0,11.852038,18,Alameda,Oakland and Alameda

C:\Users\ywang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:44: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
C:\Users\ywang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:47: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

scen: PBA50_Alt1, year: 2035
Home_2035_TM152_EIR_Alt2_04.csv has 1449 rows of TAZ summary data

,TAZ1454,total_vmt_resident,total_pop_resident,vmtpercapita,SUPERD,county,SD_NAME
0,939,37117.420769,3512.0,10.568742,18,Alameda,Oakland and Alameda
1,974,46961.444615,6386.0,7.353812,18,Alameda,Oakland and Alameda
2,914,88937.459231,5372.0,16.555744,18,Alameda,Oakland and Alameda
3,920,28448.761538,2010.0,14.153613,18,Alameda,Oakland and Alameda
4,921,30991.403077,2714.0,11.419087,18,Alameda,Oakland and Alameda

scen: PBA50_Alt2, year: 2035
Home_2035_TM152_FBP_NoProject_24.csv has 1446 rows of TAZ summary data

C:\Users\ywang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:44: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
C:\Users\ywang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:47: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

,TAZ1454,total_vmt_resident,total_pop_resident,vmtpercapita,SUPERD,county,SD_NAME
0,939,45940.137692,3614.0,12.711715,18,Alameda,Oakland and Alameda
1,974,51304.055385,5640.0,9.096464,18,Alameda,Oakland and Alameda
2,914,106778.592308,5624.0,18.986236,18,Alameda,Oakland and Alameda
3,920,35437.920000,2032.0,17.439921,18,Alameda,Oakland and Alameda
4,921,38524.517692,2664.0,14.461155,18,Alameda,Oakland and Alameda

C:\Users\ywang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:44: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
C:\Users\ywang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:47: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

scen: PBA50_NP, year: 2035
Home_2035_TM152_FBP_Plus_24.csv has 1448 rows of TAZ summary data

,TAZ1454,total_vmt_resident,total_pop_resident,vmtpercapita,SUPERD,county,SD_NAME
0,939,36685.066154,3440.0,10.664263,18,Alameda,Oakland and Alameda
1,974,51648.494615,6566.0,7.866052,18,Alameda,Oakland and Alameda
2,914,90735.082308,5498.0,16.503289,18,Alameda,Oakland and Alameda
3,920,29259.154615,1948.0,15.020100,18,Alameda,Oakland and Alameda
4,921,33206.278462,2744.0,12.101413,18,Alameda,Oakland and Alameda

C:\Users\ywang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:44: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
C:\Users\ywang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:47: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

scen: PBA50_Plus, year: 2035
Home_2040_06_694_Amd1.csv has 1441 rows of TAZ summary data

,TAZ1454,total_vmt_resident,total_pop_resident,vmtpercapita,SUPERD,county,SD_NAME
0,939,48500.040000,3974.0,12.204338,18,Alameda,Oakland and Alameda
1,974,68758.408462,7400.0,9.291677,18,Alameda,Oakland and Alameda
2,914,100512.626923,5482.0,18.335029,18,Alameda,Oakland and Alameda
3,920,30016.441538,1876.0,16.000235,18,Alameda,Oakland and Alameda
4,921,40560.200000,2962.0,13.693518,18,Alameda,Oakland and Alameda

C:\Users\ywang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:44: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
C:\Users\ywang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:47: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

scen: PBA40, year: 2040
Home_2040_TM152_FBP_Plus_24.csv has 1448 rows of TAZ summary data

,TAZ1454,total_vmt_resident,total_pop_resident,vmtpercapita,SUPERD,county,SD_NAME
0,939,38381.003077,3470.0,11.060808,18,Alameda,Oakland and Alameda
1,974,44012.980000,6068.0,7.253293,18,Alameda,Oakland and Alameda
2,914,84790.035385,5244.0,16.168962,18,Alameda,Oakland and Alameda
3,920,29659.287692,1894.0,15.659603,18,Alameda,Oakland and Alameda
4,921,33480.878462,2828.0,11.839066,18,Alameda,Oakland and Alameda

scen: PBA50_Plus, year: 2040
Home_2050_TM152_EIR_Alt1_05.csv has 1449 rows of TAZ summary data

C:\Users\ywang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:44: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
C:\Users\ywang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:47: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

,TAZ1454,total_vmt_resident,total_pop_resident,vmtpercapita,SUPERD,county,SD_NAME
0,939,34062.933846,3466.0,9.827736,18,Alameda,Oakland and Alameda
1,974,44120.922308,6820.0,6.469343,18,Alameda,Oakland and Alameda
2,914,82497.826154,5446.0,15.148334,18,Alameda,Oakland and Alameda
3,920,23827.409231,1728.0,13.789010,18,Alameda,Oakland and Alameda
4,921,29786.550769,2538.0,11.736230,18,Alameda,Oakland and Alameda

scen: PBA50_Alt1, year: 2050

C:\Users\ywang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:44: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
C:\Users\ywang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:47: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

Home_2050_TM152_EIR_Alt2_05.csv has 1448 rows of TAZ summary data

,TAZ1454,total_vmt_resident,total_pop_resident,vmtpercapita,SUPERD,county,SD_NAME
0,939,27952.991538,3210.0,8.708097,18,Alameda,Oakland and Alameda
1,974,42681.533846,6004.0,7.108850,18,Alameda,Oakland and Alameda
2,914,82437.833846,5388.0,15.300266,18,Alameda,Oakland and Alameda
3,920,23017.712308,1810.0,12.716968,18,Alameda,Oakland and Alameda
4,921,29917.771538,2690.0,11.121848,18,Alameda,Oakland and Alameda

scen: PBA50_Alt2, year: 2050
Home_2050_TM152_FBP_NoProject_24.csv has 1444 rows of TAZ summary data

C:\Users\ywang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:44: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
C:\Users\ywang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:47: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

,TAZ1454,total_vmt_resident,total_pop_resident,vmtpercapita,SUPERD,county,SD_NAME
0,939,47204.240000,3946.0,11.962554,18,Alameda,Oakland and Alameda
1,974,54921.044615,6556.0,8.377219,18,Alameda,Oakland and Alameda
2,914,102036.383077,6064.0,16.826580,18,Alameda,Oakland and Alameda
3,920,33745.016923,2032.0,16.606800,18,Alameda,Oakland and Alameda
4,921,37582.711538,2552.0,14.726768,18,Alameda,Oakland and Alameda

scen: PBA50_NP, year: 2050
Home_2050_TM152_FBP_PlusCrossing_24.csv has 1449 rows of TAZ summary data

C:\Users\ywang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:44: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
C:\Users\ywang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:47: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

,TAZ1454,total_vmt_resident,total_pop_resident,vmtpercapita,SUPERD,county,SD_NAME
0,939,33936.534615,3384.0,10.028527,18,Alameda,Oakland and Alameda
1,974,40619.863077,6262.0,6.486724,18,Alameda,Oakland and Alameda
2,914,78062.126154,5220.0,14.954430,18,Alameda,Oakland and Alameda
3,920,23706.270000,1748.0,13.561939,18,Alameda,Oakland and Alameda
4,921,29384.346923,2720.0,10.803069,18,Alameda,Oakland and Alameda

scen: PBA50_Plus, year: 2050
Work_2025_TM152_FBP_Plus_22.csv has 1453 rows of TAZ summary data

C:\Users\ywang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:44: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
C:\Users\ywang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:47: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

,TAZ1454,total_vmt_worker,total_pop_worker,vmtperworker,SUPERD,county,SD_NAME
0,939,25430.106154,1108.0,22.951359,18,Alameda,Oakland and Alameda
1,974,49928.676267,2510.0,19.891903,18,Alameda,Oakland and Alameda
2,914,7041.226410,236.0,29.835705,18,Alameda,Oakland and Alameda
3,920,6671.070385,246.0,27.118172,18,Alameda,Oakland and Alameda
4,921,10914.210000,446.0,24.471323,18,Alameda,Oakland and Alameda

scen: PBA50_Plus, year: 2025
Work_2030_06_694.csv has 1455 rows of TAZ summary data

C:\Users\ywang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:54: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
C:\Users\ywang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:57: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

,TAZ1454,total_vmt_worker,total_pop_worker,vmtperworker,SUPERD,county,SD_NAME
0,939,32690.680513,1566,20.875275,18,Alameda,Oakland and Alameda
1,974,61485.477425,3036,20.252134,18,Alameda,Oakland and Alameda
2,914,12929.129194,490,26.385978,18,Alameda,Oakland and Alameda
3,920,8232.672179,394,20.895107,18,Alameda,Oakland and Alameda
4,921,15907.551692,652,24.398085,18,Alameda,Oakland and Alameda

scen: PBA40, year: 2030
Work_2030_TM152_FBP_Plus_23.csv has 1453 rows of TAZ summary data

C:\Users\ywang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:54: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
C:\Users\ywang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:57: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

,TAZ1454,total_vmt_worker,total_pop_worker,vmtperworker,SUPERD,county,SD_NAME
0,939,25225.506513,1164.0,21.671397,18,Alameda,Oakland and Alameda
1,974,37863.676154,2180.0,17.368659,18,Alameda,Oakland and Alameda
2,914,6074.301410,258.0,23.543804,18,Alameda,Oakland and Alameda
3,920,8542.845513,272.0,31.407520,18,Alameda,Oakland and Alameda
4,921,7485.085128,360.0,20.791903,18,Alameda,Oakland and Alameda

C:\Users\ywang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:54: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
C:\Users\ywang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:57: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

scen: PBA50_Plus, year: 2030
Work_2035_TM152_EIR_Alt1_05.csv has 1453 rows of TAZ summary data

,TAZ1454,total_vmt_worker,total_pop_worker,vmtperworker,SUPERD,county,SD_NAME
0,939,23092.280821,1272.0,18.154309,18,Alameda,Oakland and Alameda
1,974,36172.215128,2626.0,13.774644,18,Alameda,Oakland and Alameda
2,914,8370.430256,320.0,26.157595,18,Alameda,Oakland and Alameda
3,920,7698.943333,348.0,22.123400,18,Alameda,Oakland and Alameda
4,921,8662.453974,424.0,20.430316,18,Alameda,Oakland and Alameda

C:\Users\ywang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:54: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
C:\Users\ywang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:57: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

scen: PBA50_Alt1, year: 2035
Work_2035_TM152_EIR_Alt2_04.csv has 1453 rows of TAZ summary data

,TAZ1454,total_vmt_worker,total_pop_worker,vmtperworker,SUPERD,county,SD_NAME
0,939,20676.602333,1230.0,16.810246,18,Alameda,Oakland and Alameda
1,974,33416.755410,2134.0,15.659211,18,Alameda,Oakland and Alameda
2,914,8665.152564,334.0,25.943571,18,Alameda,Oakland and Alameda
3,920,7740.384103,364.0,21.264791,18,Alameda,Oakland and Alameda
4,921,10893.128590,502.0,21.699459,18,Alameda,Oakland and Alameda

C:\Users\ywang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:54: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
C:\Users\ywang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:57: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

scen: PBA50_Alt2, year: 2035
Work_2035_TM152_FBP_NoProject_24.csv has 1452 rows of TAZ summary data

,TAZ1454,total_vmt_worker,total_pop_worker,vmtperworker,SUPERD,county,SD_NAME
0,939,25409.484487,1186.0,21.424523,18,Alameda,Oakland and Alameda
1,974,48663.501956,2644.0,18.405258,18,Alameda,Oakland and Alameda
2,914,6314.772051,242.0,26.094099,18,Alameda,Oakland and Alameda
3,920,7557.621026,322.0,23.470873,18,Alameda,Oakland and Alameda
4,921,12041.826667,508.0,23.704383,18,Alameda,Oakland and Alameda

C:\Users\ywang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:54: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
C:\Users\ywang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:57: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

scen: PBA50_NP, year: 2035
Work_2035_TM152_FBP_Plus_24.csv has 1453 rows of TAZ summary data

,TAZ1454,total_vmt_worker,total_pop_worker,vmtperworker,SUPERD,county,SD_NAME
0,939,24036.217615,1330.0,18.072344,18,Alameda,Oakland and Alameda
1,974,31954.408846,2060.0,15.511849,18,Alameda,Oakland and Alameda
2,914,5799.444615,260.0,22.305556,18,Alameda,Oakland and Alameda
3,920,8302.681026,364.0,22.809563,18,Alameda,Oakland and Alameda
4,921,10402.767564,544.0,19.122734,18,Alameda,Oakland and Alameda

C:\Users\ywang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:54: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
C:\Users\ywang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:57: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

scen: PBA50_Plus, year: 2035
Work_2040_06_694_Amd1.csv has 1455 rows of TAZ summary data

,TAZ1454,total_vmt_worker,total_pop_worker,vmtperworker,SUPERD,county,SD_NAME
0,939,34428.021374,1652,20.840207,18,Alameda,Oakland and Alameda
1,974,63789.040132,3212,19.859602,18,Alameda,Oakland and Alameda
2,914,14292.964103,506,28.246965,18,Alameda,Oakland and Alameda
3,920,7512.337308,378,19.873908,18,Alameda,Oakland and Alameda
4,921,14114.433205,722,19.549076,18,Alameda,Oakland and Alameda

C:\Users\ywang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:54: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
C:\Users\ywang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:57: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

scen: PBA40, year: 2040
Work_2040_TM152_FBP_Plus_24.csv has 1453 rows of TAZ summary data

,TAZ1454,total_vmt_worker,total_pop_worker,vmtperworker,SUPERD,county,SD_NAME
0,939,24705.494487,1340.0,18.436936,18,Alameda,Oakland and Alameda
1,974,28657.519744,1988.0,14.415251,18,Alameda,Oakland and Alameda
2,914,6269.769744,272.0,23.050624,18,Alameda,Oakland and Alameda
3,920,7464.924615,370.0,20.175472,18,Alameda,Oakland and Alameda
4,921,7271.107564,400.0,18.177769,18,Alameda,Oakland and Alameda

C:\Users\ywang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:54: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
C:\Users\ywang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:57: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

scen: PBA50_Plus, year: 2040
Work_2050_TM152_EIR_Alt1_05.csv has 1453 rows of TAZ summary data

,TAZ1454,total_vmt_worker,total_pop_worker,vmtperworker,SUPERD,county,SD_NAME
0,939,21407.427308,1412.0,15.161067,18,Alameda,Oakland and Alameda
1,974,33100.289487,2782.0,11.898019,18,Alameda,Oakland and Alameda
2,914,8476.494615,350.0,24.218556,18,Alameda,Oakland and Alameda
3,920,9014.593846,446.0,20.212094,18,Alameda,Oakland and Alameda
4,921,10432.854744,596.0,17.504790,18,Alameda,Oakland and Alameda

scen: PBA50_Alt1, year: 2050
Work_2050_TM152_EIR_Alt2_05.csv has 1451 rows of TAZ summary data

C:\Users\ywang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:54: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
C:\Users\ywang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:57: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

,TAZ1454,total_vmt_worker,total_pop_worker,vmtperworker,SUPERD,county,SD_NAME
0,939,21579.872949,1274.0,16.938676,18,Alameda,Oakland and Alameda
1,974,31629.808641,2128.0,14.863632,18,Alameda,Oakland and Alameda
2,914,7736.757821,330.0,23.444721,18,Alameda,Oakland and Alameda
3,920,7006.074615,368.0,19.038246,18,Alameda,Oakland and Alameda
4,921,9509.487949,464.0,20.494586,18,Alameda,Oakland and Alameda

C:\Users\ywang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:54: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
C:\Users\ywang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:57: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

scen: PBA50_Alt2, year: 2050
Work_2050_TM152_FBP_NoProject_24.csv has 1450 rows of TAZ summary data

,TAZ1454,total_vmt_worker,total_pop_worker,vmtperworker,SUPERD,county,SD_NAME
0,939,29040.195410,1404.0,20.683900,18,Alameda,Oakland and Alameda
1,974,47817.026923,2616.0,18.278680,18,Alameda,Oakland and Alameda
2,914,8468.025128,308.0,27.493588,18,Alameda,Oakland and Alameda
3,920,9723.923205,450.0,21.608718,18,Alameda,Oakland and Alameda
4,921,12143.412564,486.0,24.986446,18,Alameda,Oakland and Alameda

C:\Users\ywang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:54: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
C:\Users\ywang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:57: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

scen: PBA50_NP, year: 2050
Work_2050_TM152_FBP_PlusCrossing_24.csv has 1453 rows of TAZ summary data

,TAZ1454,total_vmt_worker,total_pop_worker,vmtperworker,SUPERD,county,SD_NAME
0,939,19276.436795,1228.0,15.697424,18,Alameda,Oakland and Alameda
1,974,38348.999205,2622.0,14.625858,18,Alameda,Oakland and Alameda
2,914,7284.145897,298.0,24.443443,18,Alameda,Oakland and Alameda
3,920,7743.971795,418.0,18.526248,18,Alameda,Oakland and Alameda
4,921,9004.771154,524.0,17.184678,18,Alameda,Oakland and Alameda

scen: PBA50_Plus, year: 2050

C:\Users\ywang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:54: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
C:\Users\ywang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:57: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

In [9]:
vmt_by_TAZ.to_csv(os.path.join(run_dir, 'Tableau', 'vmt_by_TAZ.csv'), index=False)
vmt_by_SD.to_csv(os.path.join(run_dir, 'Tableau', 'vmt_by_SD.csv'), index=False)
vmt_by_COUNTY.to_csv(os.path.join(run_dir, 'Tableau', 'vmt_by_COUNTY.csv'), index=False)