In [1]:
import pandas as pd
import numpy as np

In [2]:
tm15_hhfile=pd.read_csv('../popsyn/popsyn_1.5/hhFile.2015.csv')
tm15_personfile=pd.read_csv('../popsyn/popsyn_1.5/personFile.2015.csv')
tm15_personfile=tm15_personfile[tm15_personfile['pemploy'].isin([1,2])]
geo_crosswalk = pd.read_csv('../main_Run_TM15/geo_crosswalk.csv')
county_dict = dict(zip(geo_crosswalk['TAZ'],geo_crosswalk['COUNTYNAME']))
tm15_hhfile['COUNTYNAME']=tm15_hhfile['TAZ'].map(county_dict)
tm15_hhinc_dict = dict(zip(tm15_hhfile['HHID'],tm15_hhfile['hinccat1']))
tm15_county_dict = dict(zip(tm15_hhfile['HHID'],tm15_hhfile['COUNTYNAME']))
tm15_personfile['hinccat1']=tm15_personfile['HHID'].map(tm15_hhinc_dict)
tm15_personfile['COUNTYNAME']=tm15_personfile['HHID'].map(tm15_county_dict)

tm15_persons_grouped=tm15_personfile.groupby(['COUNTYNAME','hinccat1']).agg(tm15_workers=('PERID','count'))
tm15_persons_grouped.head()

                       tm15_workers
COUNTYNAME   hinccat1
Alameda      1                63450
             2               182446
             3               286677
             4               290576
Contra Costa 1                28879

In [ ]:
table_hhgq.loc[                           (table_hhgq.HINC< 20000), 'hinccat1'] = 1
table_hhgq.loc[ (table_hhgq.HINC>= 20000)&(table_hhgq.HINC< 50000), 'hinccat1'] = 2
table_hhgq.loc[ (table_hhgq.HINC>= 50000)&(table_hhgq.HINC<100000), 'hinccat1'] = 3
table_hhgq.loc[ (table_hhgq.HINC>=100000)                           , 'hinccat1'] = 4

In [2]:
inc_cat_dict={1:'HINC<20,000',
              2: '20,000<=HINCH<50,000',
              3: '50,000<=HINCH<100,000',
              4: 'HINC>100,000'}

In [3]:
bcm_hhfile=pd.read_csv('../popsyn/hhFile.2015.csv')
bcm_personfile=pd.read_csv('../popsyn/personFile.2015.csv')

In [24]:
bcm_hhfile=bcm_hhfile[bcm_hhfile['TAZ'].notnull()]
bcm_personfile=bcm_personfile[bcm_personfile['HHID'].isin(bcm_hhfile.HHID.unique())]
#.to_csv('../popsyn/hhFile.2015.csv')

In [12]:
tazData.columns

Index(['ZONE', 'DISTRICT', 'SD', 'COUNTY', 'TOTHH', 'HHPOP', 'TOTPOP',
       'EMPRES', 'SFDU', 'MFDU', 'HHINCQ1', 'HHINCQ2', 'HHINCQ3', 'HHINCQ4',
       'TOTACRE', 'RESACRE', 'CIACRE', 'SHPOP62P', 'TOTEMP', 'AGE0004',
       'AGE0519', 'AGE2044', 'AGE4564', 'AGE65P', 'RETEMPN', 'FPSEMPN',
       'HEREMPN', 'OTHEMPN', 'AGREMPN', 'MWTEMPN', 'PRKCST', 'OPRKCST',
       'AREATYPE', 'HSENROLL', 'COLLFTE', 'COLLPTE', 'TOPOLOGY', 'TERMINAL',
       'ZERO'],
      dtype='object')

In [15]:
unconnected_taz=[2895,3141,3166,3279,3353,3434,3452,3453,3455,3461,3599,3600,3601,3602,3677,3747,3750,3794,4049,4080,4137,4158,4178,4186,4211,4511,4589,4643,4805,4846,
 4865,4868,4888,4900,4904,4905,4909,4914,4916,4997,5003,5144,5163,5167,5176,5217,5285,5338]

bcm_taz_seq = pd.read_csv('../main/bcmtaz_seq.csv')
unconnected = bcm_taz_seq[bcm_taz_seq['TAZSEQ'].isin(unconnected_taz)].BCMTAZ.unique()

tazData=pd.read_csv('../landuse/tazData.csv')

for column in ['TOTHH', 'HHPOP', 'TOTPOP',
       'EMPRES', 'SFDU', 'MFDU', 'HHINCQ1', 'HHINCQ2', 'HHINCQ3', 'HHINCQ4',
        'SHPOP62P', 'TOTEMP', 'AGE0004',
       'AGE0519', 'AGE2044', 'AGE4564', 'AGE65P', 'RETEMPN', 'FPSEMPN',
       'HEREMPN', 'OTHEMPN', 'AGREMPN', 'MWTEMPN', 'PRKCST', 'OPRKCST',
       'HSENROLL', 'COLLFTE', 'COLLPTE']:

       tazData[column] = np.where(tazData['ZONE'].isin (unconnected_taz), 0, tazData[column])

In [18]:
tazData.to_csv('../landuse/tazDataUpdate.csv', index=False)

In [28]:


bcm_hhfile=bcm_hhfile[~bcm_hhfile['TAZ'].isin(unconnected_taz)]
bcm_personfile=bcm_personfile[bcm_personfile['HHID'].isin(bcm_hhfile.HHID.unique())]

In [26]:
bcm_hhfile.to_csv('../popsyn/hhFile.2015.csv', index=False)
bcm_personfile.to_csv('../popsyn/personFile.2015.csv', index=False)

In [4]:
bcm_hhfile=pd.read_csv('../popsyn/hhFile.2015.csv')
bcm_personfile=pd.read_csv('../popsyn/personFile.2015.csv')
bcm_personfile=bcm_personfile[bcm_personfile['pemploy'].isin([1,2])]
geo_crosswalk = pd.read_csv('../main_Run_17/geo_crosswalk.csv')

county_dict = dict(zip(geo_crosswalk['TAZ'],geo_crosswalk['COUNTYNAME']))
bcm_hhfile['COUNTYNAME']=bcm_hhfile['TAZ'].map(county_dict)
bcm_hhinc_dict = dict(zip(bcm_hhfile['HHID'],bcm_hhfile['hinccat1']))
bcm_county_dict = dict(zip(bcm_hhfile['HHID'],bcm_hhfile['COUNTYNAME']))
bcm_personfile['hinccat1']=bcm_personfile['HHID'].map(bcm_hhinc_dict)
bcm_personfile['COUNTYNAME']=bcm_personfile['HHID'].map(bcm_county_dict)

bcm_persons_grouped=bcm_personfile.groupby(['COUNTYNAME','hinccat1']).agg(bcm_workers=('PERID','count'))

In [5]:
bcm_persons_grouped.head()

                       bcm_workers
COUNTYNAME   hinccat1
Alameda      1               46964
             2              140217
             3              237956
             4              310539
Contra Costa 1               23114

In [9]:
bcm_hh_grouped=bcm_hhfile[bcm_hhfile['hinccat1']!=0].groupby(['COUNTYNAME','hinccat1']).agg(bcm_hh=('HHID','count'))
bcm_hh_grouped.to_csv('temp.csv')
# tm15_hh_grouped=tm15_hhfile.groupby(['COUNTYNAME','hinccat1']).agg(tm15_hh=('HHID','count'))

# comparison=pd.merge(bcm_hh_grouped.reset_index(), tm15_hh_grouped.reset_index(), how='left')
# comparison.to_csv('temp.csv')

In [38]:
tm15_hh_grouped.head()

                       bcm_hh
COUNTYNAME   hinccat1
Alameda      1         121093
             2         156721
             3         170215
             4         145707
Contra Costa 1          63799

In [25]:
tm15_tazData = pd.read_csv('../main_Run_TM15/tazData.csv')
tm15_geo_crosswalk = pd.read_csv('../main_Run_TM15/geo_crosswalk.csv')
tm15_county_dict = dict(zip(tm15_geo_crosswalk['TAZ'],tm15_geo_crosswalk['COUNTYNAME']))
tm15_tazData['COUNTYNAME']=tm15_tazData['ZONE'].map(tm15_county_dict)
tm15_emp_grouped=tm15_tazData.groupby(['COUNTYNAME'])['TOTEMP','RETEMPN','HEREMPN', 'OTHEMPN', 'AGREMPN', 'MWTEMPN'].sum().reset_index()
tm15_emp_grouped

C:\Users\USJH70~1\AppData\Local\Temp/ipykernel_581656/769486675.py:5: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  tm15_emp_grouped=tm15_tazData.groupby(['COUNTYNAME'])['TOTEMP','RETEMPN','HEREMPN', 'OTHEMPN', 'AGREMPN', 'MWTEMPN'].sum().reset_index()

      COUNTYNAME  TOTEMP  RETEMPN  HEREMPN  OTHEMPN  AGREMPN  MWTEMPN
0        Alameda  802630   111666   285645    93166      677   165233
1   Contra Costa  415910    60745   149023    54525     2863    58932
2          Marin  136313    21570    51329    20034      265    10492
3           Napa   85978     9266    32615    11294     2206    19467
4  San Francisco  637283    77480   232774    89430      276    50545
5      San Mateo  395028    55465   117960    69584      551    57461
6    Santa Clara  989775   132626   296062   133045     2706   236836
7         Solano  157519    23100    64986    26082     1466    20541
8         Sonoma  240882    35917    83190    39169     3424    39698

In [13]:
bcm_tazData = pd.read_csv('../landuse/tazData.csv')
bcm_geo_crosswalk = pd.read_csv('../main_Run_17/geo_crosswalk.csv')
bcmcounty_dict = dict(zip(bcm_geo_crosswalk['TAZ'],bcm_geo_crosswalk['COUNTYNAME']))
bcm_tazData['COUNTYNAME']=bcm_tazData['ZONE'].map(bcmcounty_dict)
bcm_emp_grouped=bcm_tazData.groupby(['COUNTYNAME'])['TOTEMP','RETEMPN','HEREMPN', 'OTHEMPN', 'AGREMPN', 'MWTEMPN'].sum().reset_index()
bcm_emp_grouped

C:\Users\USJH70~1\AppData\Local\Temp/ipykernel_41460/3402382521.py:5: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  bcm_emp_grouped=bcm_tazData.groupby(['COUNTYNAME'])['TOTEMP','RETEMPN','HEREMPN', 'OTHEMPN', 'AGREMPN', 'MWTEMPN'].sum().reset_index()

      COUNTYNAME   TOTEMP  RETEMPN  HEREMPN  OTHEMPN  AGREMPN  MWTEMPN
0        Alameda   866799    71891   255225   207927     1710   139048
1   Contra Costa   403491    48376   125366    93769     1516    40709
2          Marin   134855    15544    47039    28187      721     7871
3           Napa    71530     7907    21907    13685     4114    14682
4  San Francisco   682001    46329   228480   143102      630    35884
5    San Joaquin   234826    26145    75270    20361    16460    67501
6      San Mateo   393079    36720   106560    64590     2494    64324
7    Santa Clara  1100920    88228   294774   211763     5364   227076
8         Solano   132019    17966    41865    33727     1725    20207
9         Sonoma   220904    25119    68367    49047     6617    33790

In [14]:
bcm_emp_grouped.to_csv('temp.csv', index=False)

In [28]:
jobs_comparison = pd.merge(bcm_emp_grouped, tm15_emp_grouped, on='COUNTYNAME', how='left', suffixes=('_BCM','_TM15'))

jobs_comparison.to_csv('temp.csv', index=False)

In [16]:
bcm_persons_grouped.to_csv('temp.csv')

In [5]:
comparison=pd.merge(bcm_persons_grouped.reset_index(), tm15_persons_grouped.reset_index(), how='left')
comparison['HINC']=comparison['hinccat1'].map(inc_cat_dict)
comparison.to_csv('temp.csv')

In [12]:
popsim_controls=pd.read_csv('../main_Run_34/final_summary_BCMTAZ.csv')
popsim_xwalk=pd.read_csv('../landuse/geo_crosswalk.csv')
popsim_county_dict=dict(zip(popsim_xwalk['BCMTAZ'], popsim_xwalk['COUNTY']))
popsim_controls['COUNTYNAME']=popsim_controls['id'].map(popsim_county_dict)
popsim_controls_grouped=popsim_controls.groupby(['COUNTYNAME'])['num_hh_control','hh_inc_30_control', 'hh_inc_30_60_control', 'hh_inc_60_100_control',
       'hh_inc_100_plus_control','hh_inc_30_result', 'hh_inc_30_60_result',
       'hh_inc_60_100_result', 'num_hh_result','hh_inc_100_plus_result'].sum()
popsim_controls_grouped.to_csv('temp.csv')

C:\Users\USJH70~1\AppData\Local\Temp/ipykernel_41460/4022566925.py:5: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  popsim_controls_grouped=popsim_controls.groupby(['COUNTYNAME'])['num_hh_control','hh_inc_30_control', 'hh_inc_30_60_control', 'hh_inc_60_100_control',

In [44]:
popsim_controls.columns

Index(['geography', 'id', 'num_hh_control', 'hh_size_1_control',
       'hh_size_2_control', 'hh_size_3_control', 'hh_size_4_plus_control',
       'hh_inc_30_control', 'hh_inc_30_60_control', 'hh_inc_60_100_control',
       'hh_inc_100_plus_control', 'hh_wrks_0_control', 'hh_wrks_1_control',
       'hh_wrks_2_control', 'hh_wrks_3_plus_control', 'pers_age_00_04_control',
       'pers_age_05_19_control', 'pers_age_20_44_control',
       'pers_age_45_64_control', 'pers_age_65_plus_control', 'num_hh_result',
       'hh_size_1_result', 'hh_size_2_result', 'hh_size_3_result',
       'hh_size_4_plus_result', 'hh_inc_30_result', 'hh_inc_30_60_result',
       'hh_inc_60_100_result', 'hh_inc_100_plus_result', 'hh_wrks_0_result',
       'hh_wrks_1_result', 'hh_wrks_2_result', 'hh_wrks_3_plus_result',
       'pers_age_00_04_result', 'pers_age_05_19_result',
       'pers_age_20_44_result', 'pers_age_45_64_result',
       'pers_age_65_plus_result', 'num_hh_diff', 'hh_size_1_diff',
       'hh_size_2_diff', 'hh_size_3_diff', 'hh_size_4_plus_diff',
       'hh_inc_30_diff', 'hh_inc_30_60_diff', 'hh_inc_60_100_diff',
       'hh_inc_100_plus_diff', 'hh_wrks_0_diff', 'hh_wrks_1_diff',
       'hh_wrks_2_diff', 'hh_wrks_3_plus_diff', 'pers_age_00_04_diff',
       'pers_age_05_19_diff', 'pers_age_20_44_diff', 'pers_age_45_64_diff',
       'pers_age_65_plus_diff', 'COUNTYNAME'],
      dtype='object')

In [2]:
hhfile=pd.read_csv('../popsyn/hhFile.2015.csv')

In [4]:
unconnected_tazs = [2895,3141,3166,3279,3353,3434,3452,3453,3455,3461,3599,3600,3601,3602,3677,3747,3750,3794,4049,4080,4137,4158,
                    4178,4186,4211,4511,4589,4643,4805,4846,4865,4868,4888,4900,4904,4905,4909,4914,4916,4997,5003,5144,5163,5167,
                    5176,5217,5285,5338]
hhfile[hhfile['TAZ'].isin(unconnected_tazs)]

Empty DataFrame
Columns: [HHID, TAZ, HINC, hworkers, VEHICL, PERSONS, HHT, UNITTYPE, hinccat1]
Index: []

In [17]:
link_area_type = pd.read_csv('link_area_type.csv')

               A        B  AREATYPE
0              1  1001671         2
1              1  1021297         2
2              1  1024255         2
3              2  1006730         1
4              2  1012189         1
...          ...      ...       ...
1800114  5300145  2089282         3
1800115  5300146  2042761         3
1800116  5300147  2120662         3
1800117  5300148  2079543         3
1800118  5300149  2060925         3

[1800119 rows x 3 columns]