In [1]:
import pandas as pd
import numpy as np
pd.options.display.max_columns=100

In [43]:

load_am_tm15 = pd.read_csv('../../2015_BaseY_BCM2015/hwy/tm15/LOADAM.csv')
load_pm_tm15 = pd.read_csv('../../2015_BaseY_BCM2015/hwy/tm15/LOADPM.csv')
load_md_tm15 = pd.read_csv('../../2015_BaseY_BCM2015/hwy/tm15/LOADMD.csv')
load_ea_tm15 = pd.read_csv('../../2015_BaseY_BCM2015/hwy/tm15/LOADEA.csv')
load_ev_tm15 = pd.read_csv('../../2015_BaseY_BCM2015/hwy/tm15/LOADEV.csv')

columns=['A',
 'B','FT','AT','GL','DISTANCE','CAP','V_1','LANES','FFS','USE',
 'VC_1',
 'CSPD_1',
 'VDT_1',
 'VT_1','V1_1','V2_1','V3_1', 'V4_1','V5_1','V6_1','V7_1','V8_1','V9_1','V10_1']

load_am_tm15=load_am_tm15[columns]
load_am_tm15['TIMEPERIOD'] = 'AM'
load_pm_tm15=load_pm_tm15[columns]
load_pm_tm15['TIMEPERIOD'] = 'PM'
load_md_tm15=load_md_tm15[columns]
load_md_tm15['TIMEPERIOD'] = 'MD'
load_ea_tm15=load_ea_tm15[columns]
load_ea_tm15['TIMEPERIOD'] = 'EA'
load_ev_tm15=load_ev_tm15[columns]
load_ev_tm15['TIMEPERIOD'] = 'EV'

county_code={1:'San Francisco', 2:'San Mateo', 3: 'Santa Clara',4:'Alameda', 5:'Contra Costa', 6:'Solano', 7:'Napa', 8:'Sonoma',9:'Marin', 10:'External'}

load_am_tm15['COUNTY']=load_am_tm15['GL'].map(county_code)
load_pm_tm15['COUNTY']=load_pm_tm15['GL'].map(county_code)
load_md_tm15['COUNTY']=load_md_tm15['GL'].map(county_code)
load_ea_tm15['COUNTY']=load_ea_tm15['GL'].map(county_code)
load_ev_tm15['COUNTY']=load_ev_tm15['GL'].map(county_code)

load_am_tm15['CAPACITY_TOT']=load_am_tm15['CAP']*load_am_tm15['LANES']
load_pm_tm15['CAPACITY_TOT']=load_pm_tm15['CAP']*load_pm_tm15['LANES']
load_md_tm15['CAPACITY_TOT']=load_md_tm15['CAP']*load_md_tm15['LANES']
load_ea_tm15['CAPACITY_TOT']=load_ea_tm15['CAP']*load_ea_tm15['LANES']
load_ev_tm15['CAPACITY_TOT']=load_ev_tm15['CAP']*load_ev_tm15['LANES']

load_am_tm15['LANE_MILES']=load_am_tm15['DISTANCE']*load_am_tm15['LANES']
load_pm_tm15['LANE_MILES']=load_pm_tm15['DISTANCE']*load_pm_tm15['LANES']
load_md_tm15['LANE_MILES']=load_md_tm15['DISTANCE']*load_md_tm15['LANES']
load_ea_tm15['LANE_MILES']=load_ea_tm15['DISTANCE']*load_ea_tm15['LANES']
load_ev_tm15['LANE_MILES']=load_ev_tm15['DISTANCE']*load_ev_tm15['LANES']

for df in [load_am_tm15,load_pm_tm15,load_md_tm15,load_ea_tm15,load_ev_tm15]:
    df['DA_VOL']=df['V1_1']+df['V6_1']
    df['SR2_VOL']=df['V2_1']+df['V7_1']
    df['SR3_VOL']=df['V3_1']+df['V8_1']
    df['VSM_VOL']=df['V4_1']+df['V9_1']
    df['LRG_TRK_VOL']=df['V5_1']+df['V10_1']
    

    df=df[['A', 'B', 'FT', 'AT','COUNTY', 'DISTANCE', 'V_1', 'LANES', 'FFS',
       'USE', 'VC_1', 'CSPD_1', 'VDT_1', 'VT_1', 'TIMEPERIOD',
        'CAPACITY_TOT', 'LANE_MILES', 'DA_VOL', 'SR2_VOL', 'SR3_VOL',
       'VSM_VOL', 'LRG_TRK_VOL']]

In [83]:

load_am = pd.read_csv('../validation/Input/iter1/LOADAM.csv')
load_pm = pd.read_csv('../validation/Input/iter1/LOADPM.csv')
load_md = pd.read_csv('../validation/Input/iter1/LOADMD.csv')
load_ea = pd.read_csv('../validation/Input/iter1/LOADEA.csv')
load_ev = pd.read_csv('../validation/Input/iter1/LOADEV.csv')

In [84]:
columns=['A',
 'B','FT','AT','COUNTY','DISTANCE','CAP_HRLN','V_1','FFS','LANES','USECLASS',
 'VC_1',
 'CSPD_1',
 'VDT_1',
 'VT_1','V1_1','V2_1','V3_1', 'V4_1','V5_1','V6_1','V7_1','V8_1','V9_1','V10_1']

load_am=load_am[columns]
load_am['TIMEPERIOD'] = 'AM'
load_pm=load_pm[columns]
load_pm['TIMEPERIOD'] = 'PM'
load_md=load_md[columns]
load_md['TIMEPERIOD'] = 'MD'
load_ea=load_ea[columns]
load_ea['TIMEPERIOD'] = 'EA'
load_ev=load_ev[columns]
load_ev['TIMEPERIOD'] = 'EV'

load_am['COUNTY']=load_am['COUNTY'].apply(lambda x: x.replace("'",''))
load_pm['COUNTY']=load_pm['COUNTY'].apply(lambda x: x.replace("'",''))
load_md['COUNTY']=load_md['COUNTY'].apply(lambda x: x.replace("'",''))
load_ea['COUNTY']=load_ea['COUNTY'].apply(lambda x: x.replace("'",''))
load_ev['COUNTY']=load_ev['COUNTY'].apply(lambda x: x.replace("'",''))

load_am['CAPACITY_TOT']=load_am['CAP_HRLN']*load_am['LANES']
load_pm['CAPACITY_TOT']=load_pm['CAP_HRLN']*load_pm['LANES']
load_md['CAPACITY_TOT']=load_md['CAP_HRLN']*load_md['LANES']
load_ea['CAPACITY_TOT']=load_ea['CAP_HRLN']*load_ea['LANES']
load_ev['CAPACITY_TOT']=load_ev['CAP_HRLN']*load_ev['LANES']

for df in [load_am,load_pm,load_md,load_ea,load_ev]:
    df['LANE_MILES']=df['LANES']*df['DISTANCE']
    df['DA_VOL']=df['V1_1']+df['V6_1']
    df['SR2_VOL']=df['V2_1']+df['V7_1']
    df['SR3_VOL']=df['V3_1']+df['V8_1']
    df['VSM_VOL']=df['V4_1']+df['V9_1']
    df['LRG_TRK_VOL']=df['V5_1']+df['V10_1']
    

    df=df[['A', 'B', 'FT', 'AT','COUNTY', 'DISTANCE', 'V_1', 'LANES', 'FFS',
       'USECLASS', 'VC_1', 'CSPD_1', 'VDT_1', 'VT_1', 'TIMEPERIOD',
        'CAPACITY_TOT', 'LANE_MILES', 'DA_VOL', 'SR2_VOL', 'SR3_VOL',
       'VSM_VOL', 'LRG_TRK_VOL']]

In [53]:
load_am.head()

,A,B,FT,AT,COUNTY,DISTANCE,CAP_HRLN,V_1,FFS,LANES,USECLASS,VC_1,CSPD_1,VDT_1,VT_1,V1_1,V2_1,V3_1,V4_1,V5_1,V6_1,V7_1,V8_1,V9_1,V10_1,TIMEPERIOD,CAPACITY_TOT,LANE_MILES,DA_VOL,SR2_VOL,SR3_VOL,VSM_VOL,LRG_TRK_VOL
0,1,1001671,8,2,San Francisco,0.17232,700,20.56513,18,1,0,0.00734,18.0,3.54369,20.67799,20.00000,0.00000,0.00000,0.36453,0.10030,0,0.0,0.0,0.0,0,AM,700,0.17232,20.00000,0.00000,0.00000,0.36453,0.10030
1,1,1021297,8,2,San Francisco,0.08112,700,107.49717,18,1,0,0.03839,18.0,8.72006,134.90298,61.77013,20.36626,11.44621,4.32248,0.69989,0,0.0,0.0,0.0,0,AM,700,0.08112,61.77013,20.36626,11.44621,4.32248,0.69989
2,1,1024255,8,2,San Francisco,0.07073,700,40.51770,18,1,0,0.01447,18.0,2.86598,186.09364,38.55987,0.01374,1.21149,0.71299,0.00981,0,0.0,0.0,0.0,0,AM,700,0.07073,38.55987,0.01374,1.21149,0.71299,0.00981
3,2,1006730,8,1,San Francisco,0.12418,2050,84.12183,18,1,0,0.01026,18.0,10.44653,85.55912,40.00000,20.00000,0.00000,3.42062,0.56000,0,0.0,0.0,0.0,0,AM,2050,0.12418,40.00000,20.00000,0.00000,3.42062,0.56000
4,2,1012189,8,1,San Francisco,0.07230,2050,157.82741,18,1,0,0.01925,18.0,11.41071,390.58167,100.00000,0.00000,18.46154,8.95938,1.09000,0,0.0,0.0,0.0,0,AM,2050,0.07230,100.00000,0.00000,18.46154,8.95938,1.09000

In [85]:
combined_loaded_network_tm15 = pd.concat([load_am_tm15, load_pm_tm15, load_md_tm15, load_ea_tm15, load_ev_tm15], ignore_index=True)

combined_loaded_network = pd.concat([load_am, load_pm, load_md, load_ea, load_ev], ignore_index=True)
combined_loaded_network.head()

,A,B,FT,AT,COUNTY,DISTANCE,CAP_HRLN,V_1,FFS,LANES,USECLASS,VC_1,CSPD_1,VDT_1,VT_1,V1_1,V2_1,V3_1,V4_1,V5_1,V6_1,V7_1,V8_1,V9_1,V10_1,TIMEPERIOD,CAPACITY_TOT,LANE_MILES,DA_VOL,SR2_VOL,SR3_VOL,VSM_VOL,LRG_TRK_VOL
0,1,1001671,8,2,San Francisco,0.17232,700,100.49263,18,1,0,0.03589,18.0,17.31643,127.20145,100.06960,0.0189,0.00000,0.20632,0.09890,0.0,0.0,0.0,0.0,0,AM,700,0.17232,100.06960,0.0189,0.00000,0.20632,0.09890
1,1,1021297,8,2,San Francisco,0.08112,700,8.01732,18,1,0,0.00286,18.0,0.65036,43.39428,1.14040,0.3911,0.35000,4.72762,0.70410,0.0,0.0,0.0,0.0,0,AM,700,0.08112,1.14040,0.3911,0.35000,4.72762,0.70410
2,1,1024255,8,2,San Francisco,0.07073,700,0.48004,18,1,0,0.00017,18.0,0.03396,245.35428,0.00000,0.0000,0.00000,0.46606,0.00699,0.0,0.0,0.0,0.0,0,AM,700,0.07073,0.00000,0.0000,0.00000,0.46606,0.00699
3,2,1006730,8,1,San Francisco,0.12418,2050,76.72223,18,1,0,0.00936,18.0,9.52762,128.18382,72.43451,0.0000,0.00000,3.16772,0.56000,0.0,0.0,0.0,0.0,0,AM,2050,0.12418,72.43451,0.0000,0.00000,3.16772,0.56000
4,2,1012189,8,1,San Francisco,0.07230,2050,101.82623,18,1,0,0.01242,18.0,7.36190,268.43182,28.89549,0.0000,61.53846,9.21228,1.09000,0.0,0.0,0.0,0.0,0,AM,2050,0.07230,28.89549,0.0000,61.53846,9.21228,1.09000

In [86]:
tm15_ft_dict={1:'Freeway',2:'Freeway',3:'Expressway',4:'Collector', 5:'Ramp',6:'CentroidConnector', 7:'Arterial', 8:'Freeway',9:'Special',10:'Toll'}
at_dict={1:'CBD', 2:'Urban Business', 3:'Urban', 4:'Suburban', 5:'Rural', 0:'Regional Core'}

combined_loaded_network_tm15['facilityType'] = combined_loaded_network_tm15.FT.map(tm15_ft_dict)
combined_loaded_network_tm15['areaType'] = combined_loaded_network_tm15.AT.map(at_dict)

bcm_ft_dict={1:'Freeway',2:'Expressway',3:'Ramp',4:'Arterial', 5:'Arterial',6:'Collector', 7:'Local', 8:'CentroidConnector'}

combined_loaded_network['facilityType'] = combined_loaded_network.FT.map(bcm_ft_dict)
combined_loaded_network['areaType'] = combined_loaded_network.AT.map(at_dict)

In [42]:
combined_loaded_network_tm15.columns

Index(['A', 'B', 'FT', 'AT', 'GL', 'DISTANCE', 'CAP', 'V_1', 'LANES', 'FFS',
       'USE', 'VC_1', 'CSPD_1', 'VDT_1', 'VT_1', 'V_1', 'V1_1', 'V2_1', 'V3_1',
       'V4_1', 'V5_1', 'V6_1', 'V7_1', 'V8_1', 'V9_1', 'V10_1', 'TIMEPERIOD',
       'COUNTY', 'CAPACITY_TOT', 'LANE_MILES', 'DA_VOL', 'SR2_VOL', 'SR3_VOL',
       'VSM_VOL', 'LRG_TRK_VOL', 'facilityType', 'areaType'],
      dtype='object')

In [47]:
combined_loaded_network_24_hours_tm15 = combined_loaded_network_tm15.groupby(['A', 
                                                                              'B',  
                                                                              'FT', 
                                                                              'AT',
                                                                              'COUNTY', 
                                                                              'DISTANCE', 
                                                                              'facilityType', 
                                                                              'areaType']).agg({'CAP':'mean',
                                                                                                'FFS':'mean',
                                                                                                'VC_1':'mean',
                                                                                                'CSPD_1':'mean',
                                                                                                'VDT_1':'sum','LANES':'mean','FFS':'mean',
                                                                                                'VT_1':'sum','V_1':'sum',
                                                                                                'CAPACITY_TOT':'mean','LANE_MILES':'sum',
                                                                                                'DA_VOL':'sum',
                                                                                                'SR2_VOL':'sum',
                                                                                                'SR3_VOL':'sum','VSM_VOL':'sum',
                                                                                                'LRG_TRK_VOL':'sum'}).reset_index()

combined_loaded_network_24_hours_tm15['TIMEPERIOD']='24 Hour'
combined_loaded_network_all_tp_tm15=pd.concat([combined_loaded_network_tm15, combined_loaded_network_24_hours_tm15], ignore_index=True)
combined_loaded_network_all_tp_tm15['DA_VMT']=combined_loaded_network_all_tp_tm15['DA_VOL']*combined_loaded_network_all_tp_tm15['DISTANCE']
combined_loaded_network_all_tp_tm15['SR2_VMT']=combined_loaded_network_all_tp_tm15['SR2_VOL']*combined_loaded_network_all_tp_tm15['DISTANCE']
combined_loaded_network_all_tp_tm15['SR3_VMT']=combined_loaded_network_all_tp_tm15['SR3_VOL']*combined_loaded_network_all_tp_tm15['DISTANCE']
combined_loaded_network_all_tp_tm15['VSM_VMT']=combined_loaded_network_all_tp_tm15['VSM_VOL']*combined_loaded_network_all_tp_tm15['DISTANCE']
combined_loaded_network_all_tp_tm15['LRG_TRK_VMT']=combined_loaded_network_all_tp_tm15['LRG_TRK_VOL']*combined_loaded_network_all_tp_tm15['DISTANCE']

In [58]:
combined_loaded_network.head()

,A,B,FT,AT,COUNTY,DISTANCE,CAP_HRLN,V_1,FFS,LANES,USECLASS,VC_1,CSPD_1,VDT_1,VT_1,V1_1,V2_1,V3_1,V4_1,V5_1,V6_1,V7_1,V8_1,V9_1,V10_1,TIMEPERIOD,CAPACITY_TOT,LANE_MILES,DA_VOL,SR2_VOL,SR3_VOL,VSM_VOL,LRG_TRK_VOL,facilityType,areaType
0,1,1001671,8,2,San Francisco,0.17232,700,20.56513,18,1,0,0.00734,18.0,3.54369,20.67799,20.00000,0.00000,0.00000,0.36453,0.10030,0,0.0,0.0,0.0,0,AM,700,0.17232,20.00000,0.00000,0.00000,0.36453,0.10030,CentroidConnector,Urban Business
1,1,1021297,8,2,San Francisco,0.08112,700,107.49717,18,1,0,0.03839,18.0,8.72006,134.90298,61.77013,20.36626,11.44621,4.32248,0.69989,0,0.0,0.0,0.0,0,AM,700,0.08112,61.77013,20.36626,11.44621,4.32248,0.69989,CentroidConnector,Urban Business
2,1,1024255,8,2,San Francisco,0.07073,700,40.51770,18,1,0,0.01447,18.0,2.86598,186.09364,38.55987,0.01374,1.21149,0.71299,0.00981,0,0.0,0.0,0.0,0,AM,700,0.07073,38.55987,0.01374,1.21149,0.71299,0.00981,CentroidConnector,Urban Business
3,2,1006730,8,1,San Francisco,0.12418,2050,84.12183,18,1,0,0.01026,18.0,10.44653,85.55912,40.00000,20.00000,0.00000,3.42062,0.56000,0,0.0,0.0,0.0,0,AM,2050,0.12418,40.00000,20.00000,0.00000,3.42062,0.56000,CentroidConnector,CBD
4,2,1012189,8,1,San Francisco,0.07230,2050,157.82741,18,1,0,0.01925,18.0,11.41071,390.58167,100.00000,0.00000,18.46154,8.95938,1.09000,0,0.0,0.0,0.0,0,AM,2050,0.07230,100.00000,0.00000,18.46154,8.95938,1.09000,CentroidConnector,CBD

In [87]:
combined_loaded_network_24_hours = combined_loaded_network.groupby(['A', 
                                                                    'B', 
                                                                    'FT', 
                                                                    'AT', 
                                                                    'COUNTY',
                                                                    'DISTANCE', 
                                                                    'facilityType', 
                                                                    'areaType']).agg({'CAP_HRLN':'mean',
                                                                                      'V_1':'sum',
                                                                                      'FFS':'mean',
                                                                                      'LANES':'mean',
                                                                                      'VC_1':'mean',
                                                                                      'CSPD_1':'mean',
                                                                                      'VDT_1':'sum',
                                                                                      'VT_1':'sum',
                                                                                      'CAPACITY_TOT':'mean',
                                                                                      'LANE_MILES':'sum',
                                                                                        'DA_VOL':'sum',
                                                                                        'SR2_VOL':'sum',
                                                                                        'SR3_VOL':'sum','VSM_VOL':'sum',
                                                                                        'LRG_TRK_VOL':'sum'}).reset_index()
combined_loaded_network_24_hours['TIMEPERIOD']='24 Hour'
combined_loaded_network_all_tp=pd.concat([combined_loaded_network, combined_loaded_network_24_hours], ignore_index=True)
combined_loaded_network_all_tp['DA_VMT']=combined_loaded_network_all_tp['DA_VOL']*combined_loaded_network_all_tp['DISTANCE']
combined_loaded_network_all_tp['SR2_VMT']=combined_loaded_network_all_tp['SR2_VOL']*combined_loaded_network_all_tp['DISTANCE']
combined_loaded_network_all_tp['SR3_VMT']=combined_loaded_network_all_tp['SR3_VOL']*combined_loaded_network_all_tp['DISTANCE']
combined_loaded_network_all_tp['VSM_VMT']=combined_loaded_network_all_tp['VSM_VOL']*combined_loaded_network_all_tp['DISTANCE']
combined_loaded_network_all_tp['LRG_TRK_VMT']=combined_loaded_network_all_tp['LRG_TRK_VOL']*combined_loaded_network_all_tp['DISTANCE']

In [60]:
combined_loaded_network_all_tp_tm15.columns

Index(['A', 'B', 'FT', 'AT', 'GL', 'DISTANCE', 'CAP', 'V_1', 'LANES', 'FFS',
       'USE', 'VC_1', 'CSPD_1', 'VDT_1', 'VT_1', 'V1_1', 'V2_1', 'V3_1',
       'V4_1', 'V5_1', 'V6_1', 'V7_1', 'V8_1', 'V9_1', 'V10_1', 'TIMEPERIOD',
       'COUNTY', 'CAPACITY_TOT', 'LANE_MILES', 'DA_VOL', 'SR2_VOL', 'SR3_VOL',
       'VSM_VOL', 'LRG_TRK_VOL', 'facilityType', 'areaType', 'DA_VMT',
       'SR2_VMT', 'SR3_VMT', 'VSM_VMT', 'LRG_TRK_VMT'],
      dtype='object')

In [67]:
county_dict=['San Francisco',
             'San Mateo',
             'Santa Clara',
             'Alameda',
             'Contra Costa',
             'Solano',
             'Napa',
             'Sonoma',
             'Marin']

county_sorter_index = dict(zip(county_dict, range(len(county_dict))))

ft_sorter=['Freeway','Expressway','Arterial','Ramp','Collector','CentroidConnector']

ft_sorter_index = dict(zip(ft_sorter, range(len(ft_sorter))))

tm15_fac_summary={}
tm15_county_summary={}
tm_15_summary_county_vmt_dict={}
tm_15_summary_fac_type_vmt_dict={}
for time in ['AM','24 Hour']:
    _df=combined_loaded_network_all_tp_tm15[combined_loaded_network_all_tp_tm15['TIMEPERIOD']==time]
    tm_15_summary_fac_type=_df.groupby(['facilityType']).agg(NumberOfRecords=('V_1','count'),
                                                             Total_Lane_Miles=('LANE_MILES','sum'),
                                                             Mean_Hourly_Capacity=('CAPACITY_TOT','mean'),
                                                             Mean_Congested_Speed=('CSPD_1','mean'),
                                                             Mean_FFS=('FFS','mean'),
                                                             Mean_Volume=('V_1','mean'),TOT_VMT=('VDT_1','sum')).sort_index(key=lambda x: x.map(ft_sorter_index)).reset_index()
    tm_15_summary_county=_df.groupby(['COUNTY']).agg(NumberOfRecords=('V_1','count'),
                                                    Total_Lane_Miles=('LANE_MILES','sum'),
                                                    Mean_Hourly_Capacity=('CAPACITY_TOT','mean'),
                                                    Mean_Congested_Speed=('CSPD_1','mean'),
                                                    Mean_FFS=('FFS','mean'),
                                                    Mean_Volume=('V_1','mean'),TOT_VMT=('VDT_1','sum')).sort_index(key=lambda x: x.map(county_sorter_index)).reset_index()
    tm_15_summary_fac_type_vmt=_df.groupby(['facilityType'])['DA_VMT',
                                                            'SR2_VMT', 
                                                            'SR3_VMT', 
                                                            'VSM_VMT', 
                                                            'LRG_TRK_VMT'].sum().sort_index(key=lambda x: x.map(ft_sorter_index)).reset_index()

    tm_15_summary_county_vmt=_df.groupby(['COUNTY'])['DA_VMT',
                                                            'SR2_VMT', 
                                                            'SR3_VMT', 
                                                            'VSM_VMT', 
                                                            'LRG_TRK_VMT'].sum().sort_index(key=lambda x: x.map(county_sorter_index)).reset_index()
    tm_15_summary_fac_type['TIMEPERIOD']=time
    tm_15_summary_county['TIMEPERIOD']=time
    tm_15_summary_fac_type_vmt['TIMEPERIOD']=time
    tm_15_summary_county_vmt['TIMEPERIOD']=time
    tm15_fac_summary[time] = tm_15_summary_fac_type
    tm15_county_summary[time] = tm_15_summary_county
    tm_15_summary_county_vmt_dict[time] = tm_15_summary_county_vmt
    tm_15_summary_fac_type_vmt_dict[time] = tm_15_summary_fac_type_vmt

tm15_all_fac=pd.concat(tm15_fac_summary.values(), ignore_index=True)   
tm15_all_county=pd.concat(tm15_county_summary.values(), ignore_index=True)

tm15_all_fac_vmt=pd.concat(tm_15_summary_fac_type_vmt_dict.values(), ignore_index=True)   
tm15_all_county_vmt=pd.concat(tm_15_summary_county_vmt_dict.values(), ignore_index=True)

tm15_all_county_vmt

C:\Users\USJH70~1\AppData\Local\Temp/ipykernel_29024/4073770729.py:35: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  tm_15_summary_fac_type_vmt=_df.groupby(['facilityType'])['DA_VMT',
C:\Users\USJH70~1\AppData\Local\Temp/ipykernel_29024/4073770729.py:41: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  tm_15_summary_county_vmt=_df.groupby(['COUNTY'])['DA_VMT',

,COUNTY,DA_VMT,SR2_VMT,SR3_VMT,VSM_VMT,LRG_TRK_VMT,TIMEPERIOD
0,San Francisco,1.418102e+06,2.796546e+05,1.259185e+05,4.208395e+04,11725.217387,AM
1,San Mateo,3.593913e+06,5.611956e+05,1.931115e+05,9.478338e+04,32031.949157,AM
2,Santa Clara,8.019854e+06,1.265570e+06,4.536365e+05,1.714625e+05,42756.451790,AM
3,Alameda,7.630209e+06,1.253651e+06,4.544788e+05,2.004356e+05,57787.058036,AM
4,Contra Costa,4.515287e+06,6.999921e+05,2.739609e+05,9.398154e+04,26763.489804,AM
5,Solano,2.316042e+06,2.891069e+05,1.051164e+05,4.884972e+04,13702.539327,AM
6,Napa,6.318294e+05,8.289147e+04,2.813325e+04,2.196272e+04,6564.563170,AM
7,Sonoma,2.047363e+06,2.857520e+05,1.061446e+05,5.665905e+04,18168.798697,AM
8,Marin,1.192487e+06,1.869249e+05,7.885730e+04,3.445391e+04,12284.409088,AM
9,External,1.077789e+05,1.123424e+04,2.735555e+03,5.694190e+02,139.328047,AM
10,San Francisco,5.318498e+06,1.092129e+06,4.561718e+05,1.016044e+06,49804.925317,24 Hour
11,San Mateo,1.203184e+07,2.010266e+06,7.261891e+05,1.681515e+06,136812.831097,24 Hour
12,Santa Clara,3.011400e+07,4.955169e+06,1.672854e+06,3.391304e+06,177984.497720,24 Hour
13,Alameda,2.798602e+07,4.805130e+06,1.656094e+06,3.378355e+06,248948.940789,24 Hour
14,Contra Costa,1.619354e+07,2.616258e+06,9.570491e+05,1.896482e+06,118616.529516,24 Hour
15,Solano,9.046287e+06,1.130627e+06,3.857403e+05,7.249653e+05,59552.877714,24 Hour
16,Napa,2.194665e+06,3.063091e+05,1.000507e+05,2.937144e+05,26925.587917,24 Hour
17,Sonoma,7.489961e+06,1.087548e+06,3.870682e+05,8.554133e+05,78843.836233,24 Hour
18,Marin,4.147121e+06,6.735995e+05,2.712176e+05,6.264512e+05,56321.759896,24 Hour
19,External,4.568554e+05,4.645028e+04,1.117933e+04,6.093650e+03,595.346640,24 Hour

In [88]:
county_dict=['San Francisco',
             'San Mateo',
             'Santa Clara',
             'Alameda',
             'Contra Costa',
             'Solano',
             'Napa',
             'Sonoma',
             'Marin','San Joaquin']

county_sorter_index = dict(zip(county_dict, range(len(county_dict))))

ft_sorter=['Freeway','Expressway','Arterial','Ramp','Collector','CentroidConnector']

ft_sorter_index = dict(zip(ft_sorter, range(len(ft_sorter))))

bcm_fac_summary={}
bcm_county_summary={}

bcm_fac_summary_vmt={}
bcm_county_summary_vmt={}
for time in ['AM','24 Hour']:
    _df=combined_loaded_network_all_tp[combined_loaded_network_all_tp['TIMEPERIOD']==time]
    bcm_summary_fac_type=_df.groupby(['facilityType']).agg(NumberOfRecords=('V_1','count'),
                                                             Total_Lane_Miles=('LANE_MILES','sum'),
                                                             Mean_Hourly_Capacity=('CAPACITY_TOT','mean'),
                                                             Mean_Congested_Speed=('CSPD_1','mean'),
                                                             Mean_FFS=('FFS','mean'),
                                                             Mean_Volume=('V_1','mean'),TOT_VMT=('VDT_1','sum')).sort_index(key=lambda x: x.map(ft_sorter_index)).reset_index()
    bcm_summary_county=_df.groupby(['COUNTY']).agg(NumberOfRecords=('V_1','count'),
                                                    Total_Lane_Miles=('LANE_MILES','sum'),
                                                    Mean_Hourly_Capacity=('CAPACITY_TOT','mean'),
                                                    Mean_Congested_Speed=('CSPD_1','mean'),
                                                    Mean_FFS=('FFS','mean'),
                                                    Mean_Volume=('V_1','mean'),TOT_VMT=('VDT_1','sum')).sort_index(key=lambda x: x.map(county_sorter_index)).reset_index()
    bcm_summary_fac_type_vmt=_df.groupby(['facilityType'])['DA_VMT',
                                                            'SR2_VMT', 
                                                            'SR3_VMT', 
                                                            'VSM_VMT', 
                                                            'LRG_TRK_VMT'].sum().sort_index(key=lambda x: x.map(ft_sorter_index)).reset_index()

    bcm_summary_county_vmt=_df.groupby(['COUNTY'])['DA_VMT',
                                                            'SR2_VMT', 
                                                            'SR3_VMT', 
                                                            'VSM_VMT', 
                                                            'LRG_TRK_VMT'].sum().sort_index(key=lambda x: x.map(county_sorter_index)).reset_index()

    bcm_summary_fac_type['TIMEPERIOD']=time
    bcm_summary_county['TIMEPERIOD']=time
    bcm_summary_fac_type_vmt['TIMEPERIOD']=time
    bcm_summary_county_vmt['TIMEPERIOD']=time
    bcm_fac_summary[time] = bcm_summary_fac_type
    bcm_county_summary[time] = bcm_summary_county
    bcm_fac_summary_vmt[time] = bcm_summary_fac_type_vmt
    bcm_county_summary_vmt[time] = bcm_summary_county_vmt

bcm_all_fac=pd.concat(bcm_fac_summary.values(), ignore_index=True)   
bcm_all_county=pd.concat(bcm_county_summary.values(), ignore_index=True)
bcm_all_fac_vmt=pd.concat(bcm_fac_summary_vmt.values(), ignore_index=True)   
bcm_all_county_vmt=pd.concat(bcm_county_summary_vmt.values(), ignore_index=True)
bcm_all_county_vmt

C:\Users\USJH70~1\AppData\Local\Temp/ipykernel_29024/2182621689.py:36: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  bcm_summary_fac_type_vmt=_df.groupby(['facilityType'])['DA_VMT',
C:\Users\USJH70~1\AppData\Local\Temp/ipykernel_29024/2182621689.py:42: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  bcm_summary_county_vmt=_df.groupby(['COUNTY'])['DA_VMT',

,COUNTY,DA_VMT,SR2_VMT,SR3_VMT,VSM_VMT,LRG_TRK_VMT,TIMEPERIOD
0,San Francisco,1.190278e+06,2.407964e+05,8.946971e+04,3.910542e+04,10600.630273,AM
1,San Mateo,3.386655e+06,5.298912e+05,1.892480e+05,8.825442e+04,29728.712858,AM
2,Santa Clara,7.876965e+06,1.277899e+06,4.298144e+05,1.727952e+05,42536.377753,AM
3,Alameda,8.439769e+06,1.296218e+06,4.435309e+05,1.881201e+05,56599.278232,AM
4,Contra Costa,4.563707e+06,6.288199e+05,2.481110e+05,8.834976e+04,24884.181604,AM
5,Solano,2.266170e+06,2.784791e+05,8.525362e+04,5.168317e+04,15326.862159,AM
6,Napa,5.731645e+05,8.420869e+04,3.158902e+04,2.160115e+04,5827.769278,AM
7,Sonoma,1.848765e+06,2.635638e+05,1.041504e+05,5.445716e+04,18064.388628,AM
8,Marin,1.059174e+06,1.728333e+05,6.246654e+04,3.624605e+04,12709.903123,AM
9,San Joaquin,3.740084e+06,5.718871e+05,1.636829e+05,8.005194e+00,3.230453,AM
10,External,5.553876e+04,5.509776e+03,1.158898e+03,0.000000e+00,0.000000,AM
11,San Francisco,4.648381e+06,9.570467e+05,3.522878e+05,9.612250e+05,44223.076103,24 Hour
12,San Mateo,1.150454e+07,1.933294e+06,7.239455e+05,1.593563e+06,122962.892777,24 Hour
13,Santa Clara,2.945727e+07,4.936991e+06,1.599763e+06,3.487614e+06,178301.378369,24 Hour
14,Alameda,3.022939e+07,5.050662e+06,1.608233e+06,3.368667e+06,241555.955493,24 Hour
15,Contra Costa,1.655202e+07,2.530751e+06,9.116425e+05,1.938357e+06,106153.374999,24 Hour
16,Solano,9.058534e+06,1.130985e+06,3.678737e+05,8.202394e+05,64834.521075,24 Hour
17,Napa,1.971337e+06,3.375194e+05,1.110491e+05,3.373891e+05,23954.509812,24 Hour
18,Sonoma,6.440554e+06,1.036616e+06,3.920769e+05,9.152829e+05,77561.152082,24 Hour
19,Marin,3.769892e+06,6.501181e+05,2.416093e+05,6.967959e+05,55466.031125,24 Hour
20,San Joaquin,1.443959e+07,2.256803e+06,6.183681e+05,3.654726e+02,4.927798,24 Hour
21,External,2.528163e+05,2.519271e+04,5.267741e+03,0.000000e+00,0.000000,24 Hour

In [66]:
tm15_all_county_vmt

,facilityType,DA_VMT,SR2_VMT,SR3_VMT,VSM_VMT,LRG_TRK_VMT,TIMEPERIOD
0,Freeway,1.739534e+07,2.488559e+06,8.604278e+05,5.004705e+05,160197.862262,AM
1,Expressway,2.128497e+06,2.991292e+05,1.006539e+05,4.255668e+04,11141.400413,AM
2,Arterial,6.836869e+06,1.165983e+06,4.599890e+05,1.308413e+05,31486.157174,AM
3,Ramp,7.985163e+05,1.306276e+05,4.968735e+04,2.013602e+04,5220.507068,AM
4,Collector,2.067825e+06,3.699711e+05,1.514390e+05,3.194705e+04,7078.839813,AM
5,CentroidConnector,2.245823e+06,4.617034e+05,1.998960e+05,3.929027e+04,6799.037773,AM
6,Freeway,6.114607e+07,9.275202e+06,3.153388e+06,8.008464e+06,697862.042684,24 Hour
7,Expressway,7.885007e+06,1.193733e+06,3.801755e+05,7.664741e+05,46583.642720,24 Hour
8,Arterial,2.603925e+07,4.559183e+06,1.678054e+06,2.909044e+06,130206.018683,24 Hour
9,Ramp,3.078736e+06,5.216289e+05,1.883787e+05,4.323517e+05,21807.842062,24 Hour
10,Collector,7.720155e+06,1.377901e+06,5.195265e+05,7.201841e+05,29073.232518,24 Hour
11,CentroidConnector,9.109564e+06,1.795836e+06,7.040915e+05,1.033821e+06,28874.354171,24 Hour

In [82]:
bcm_all_fac.to_csv('../validation/Output/feb12/run61_bcm_all_fac.csv', index=False)
bcm_all_county.to_csv('../validation/Output/feb12/run61_bcm_all_county.csv', index=False)
bcm_all_fac_vmt.to_csv('../validation/Output/feb12/run61_bcm_all_fac_vmt.csv', index=False)
bcm_all_county_vmt.to_csv('../validation/Output/feb12/run61_bcm_all_county_vmt.csv', index=False)

In [68]:
by_fac_type_comparison=pd.merge(bcm_all_fac, tm15_all_fac, on=['facilityType','TIMEPERIOD'], how='outer', suffixes=('_bcm','_tm15'))
by_county_comparison=pd.merge(bcm_all_county, tm15_all_county, on=['COUNTY','TIMEPERIOD'], how='outer', suffixes=('_bcm','_tm15'))
by_county_comparison.to_csv('../validation/Output/by_county_comparison.csv', index=False)
by_fac_type_comparison.to_csv('../validation/Output/by_fac_type_comparison.csv', index=False)

by_fac_type_vmt_comparison=pd.merge(bcm_all_fac_vmt, tm15_all_fac_vmt, on=['facilityType','TIMEPERIOD'], how='outer', suffixes=('_bcm','_tm15'))
by_county_vmt_comparison=pd.merge(bcm_all_county_vmt, tm15_all_county_vmt, on=['COUNTY','TIMEPERIOD'], how='outer', suffixes=('_bcm','_tm15'))
by_county_vmt_comparison.to_csv('../validation/Output/by_county_vmt_comparison.csv', index=False)
by_fac_type_vmt_comparison.to_csv('../validation/Output/by_fac_type_vmt_comparison.csv', index=False)

In [50]:
mtc_pems=pd.read_csv('../validation/Input/mtc_pems_count_2015.csv')
mtc_pems_by_tp=mtc_pems.groupby(['link_id','time_period']).sum().reset_index()

mtc_pems_all_tp=mtc_pems.groupby(['link_id'])['count'].sum().reset_index()
mtc_pems_all_tp['time_period']='24 Hour'
mtc_pems_all=pd.concat([mtc_pems_by_tp, mtc_pems_all_tp], ignore_index=True)[['link_id','time_period','count']]
mtc_pems_all.tail()

        link_id time_period         count
5774  8031439.0     24 Hour  56985.332685
5775  8033670.0     24 Hour  84191.453214
5776  8504042.0     24 Hour  20136.719907
5777  8518375.0     24 Hour  17134.457431
5778  8550768.0     24 Hour  53152.019618

In [88]:
columns=['A',
 'B','FT','AT','DISTANCE','V_1',
 'VC_1',
 'CSPD_1',
 'VDT_1',
 'VHT_1',
 'V1_1',
 'V2_1',
 'V3_1',
 'V4_1',
 'V5_1',
 'V6_1',
 'V7_1',
 'V8_1',
 'V9_1',
 'V10_1',
 'V11_1',
 'V12_1',
 'V13_1',
 'VT_1']

In [89]:
load_am_tm15=load_am_tm15[columns]
load_am_tm15['TIMEPERIOD'] = 'AM'
load_pm_tm15=load_pm_tm15[columns]
load_pm_tm15['TIMEPERIOD'] = 'PM'
load_md_tm15=load_md_tm15[columns]
load_md_tm15['TIMEPERIOD'] = 'MD'
load_ea_tm15=load_ea_tm15[columns]
load_ea_tm15['TIMEPERIOD'] = 'EA'
load_ev_tm15=load_ev_tm15[columns]
load_ev_tm15['TIMEPERIOD'] = 'EV'

In [80]:
load_am=load_am[columns]
load_am['TIMEPERIOD'] = 'AM'
load_pm=load_pm[columns]
load_pm['TIMEPERIOD'] = 'PM'
load_md=load_md[columns]
load_md['TIMEPERIOD'] = 'MD'
load_ea=load_ea[columns]
load_ea['TIMEPERIOD'] = 'EA'
load_ev=load_ev[columns]
load_ev['TIMEPERIOD'] = 'EV'

In [54]:
load_am=load_am[load_am['MODEL_LINK_ID'].isin(mtc_pems_all.link_id.unique())][columns]
load_am['TIMEPERIOD'] = 'AM'
load_pm=load_pm[load_pm['MODEL_LINK_ID'].isin(mtc_pems_all.link_id.unique())][columns]
load_pm['TIMEPERIOD'] = 'PM'
load_md=load_md[load_md['MODEL_LINK_ID'].isin(mtc_pems_all.link_id.unique())][columns]
load_md['TIMEPERIOD'] = 'MD'
load_ea=load_ea[load_ea['MODEL_LINK_ID'].isin(mtc_pems_all.link_id.unique())][columns]
load_ea['TIMEPERIOD'] = 'EA'
load_ev=load_ev[load_ev['MODEL_LINK_ID'].isin(mtc_pems_all.link_id.unique())][columns]
load_ev['TIMEPERIOD'] = 'EV'

In [55]:
load_am.VT_1.describe()

count      968.000000
mean     12877.046648
std       7817.473529
min          0.000000
25%       6454.214355
50%      12235.925780
75%      18420.926760
max      39465.523440
Name: VT_1, dtype: float64

In [81]:
combined_loaded_network = pd.concat([load_am, load_pm, load_md, load_ea, load_ev], ignore_index=True)
combined_loaded_network.head()

,A,B,MODEL_LINK_ID,FT,CNTYPE,AT,DISTANCE,V_1,VC_1,CSPD_1,VDT_1,VHT_1,V1_1,V2_1,V3_1,V4_1,V5_1,V6_1,V7_1,V8_1,V9_1,V10_1,V11_1,V12_1,V13_1,VT_1,TIMEPERIOD
0,1,1001671,77108,8,TAZ,2,0.17232,20.56513,0.00734,18.0,3.54369,0.19687,20.00000,0.00000,0.00000,0.36453,0.10030,0,0.0,0.0,0.0,0,0,0.00000,0.00000,20.67799,AM
1,1,1021297,78851,8,TAZ,2,0.08112,107.49717,0.03839,18.0,8.72006,0.48445,61.77013,20.36626,11.44621,4.32248,0.69989,0,0.0,0.0,0.0,0,0,5.30000,2.89231,134.90298,AM
2,1,1024255,79119,8,TAZ,2,0.07073,40.51770,0.01447,18.0,2.86598,0.15922,38.55987,0.01374,1.21149,0.71299,0.00981,0,0.0,0.0,0.0,0,0,0.00000,0.00000,186.09364,AM
3,2,1006730,77532,8,TAZ,1,0.12418,84.12183,0.01026,18.0,10.44653,0.58036,40.00000,20.00000,0.00000,3.42062,0.56000,0,0.0,0.0,0.0,0,0,11.44045,8.14075,85.55912,AM
4,2,1012189,78081,8,TAZ,1,0.07230,157.82741,0.01925,18.0,11.41071,0.63393,100.00000,0.00000,18.46154,8.95938,1.09000,0,0.0,0.0,0.0,0,0,16.85955,11.36694,390.58167,AM

In [108]:
load_am_tm15.head()

,A,B,FT,AT,DISTANCE,V_1,VC_1,CSPD_1,VDT_1,VHT_1,V1_1,V2_1,V3_1,V4_1,V5_1,V6_1,V7_1,V8_1,V9_1,V10_1,V11_1,V12_1,V13_1,VT_1,TIMEPERIOD
0,1,7487,6,0,0.05201,233.77368,0.0,18.0,12.15857,0.67548,112.02543,17.76839,7.17606,66.06886,12.84471,0.0,1.04571,0.57066,0.0,0,0,0.90287,2.52628,1273.71936,AM
1,1,7489,6,0,0.04758,631.80017,0.0,18.0,30.06105,1.67006,272.12457,77.88161,16.90471,188.38115,33.46529,0.0,1.60429,0.87549,0.0,0,0,4.06713,3.03064,2404.69971,AM
2,2,7496,6,0,0.06356,532.80865,0.0,18.0,33.86532,1.88141,258.31812,62.98396,17.89169,132.26237,23.21521,0.0,4.74788,2.59100,0.0,0,0,3.86401,3.71920,4372.85010,AM
3,2,7500,6,0,0.05204,1425.33899,0.0,18.0,74.17464,4.12081,703.14191,238.53604,77.33061,260.57764,48.50479,0.0,4.26212,2.32592,0.0,0,0,23.05599,19.09926,2697.36279,AM
4,3,7483,6,0,0.12645,165.70847,0.0,18.0,20.95384,1.16410,85.62875,16.75062,20.79719,18.61985,3.20796,0.0,1.06000,0.57846,0.0,0,0,7.63000,8.22769,295.02179,AM

In [90]:
combined_loaded_network_tm15 = pd.concat([load_am_tm15, load_pm_tm15, load_md_tm15, load_ea_tm15, load_ev_tm15], ignore_index=True)
combined_loaded_network_tm15.head()

,A,B,FT,AT,DISTANCE,V_1,VC_1,CSPD_1,VDT_1,VHT_1,V1_1,V2_1,V3_1,V4_1,V5_1,V6_1,V7_1,V8_1,V9_1,V10_1,V11_1,V12_1,V13_1,VT_1,TIMEPERIOD
0,1,7487,6,0,0.05201,233.77368,0.0,18.0,12.15857,0.67548,112.02543,17.76839,7.17606,66.06886,12.84471,0.0,1.04571,0.57066,0.0,0,0,0.90287,2.52628,1273.71936,AM
1,1,7489,6,0,0.04758,631.80017,0.0,18.0,30.06105,1.67006,272.12457,77.88161,16.90471,188.38115,33.46529,0.0,1.60429,0.87549,0.0,0,0,4.06713,3.03064,2404.69971,AM
2,2,7496,6,0,0.06356,532.80865,0.0,18.0,33.86532,1.88141,258.31812,62.98396,17.89169,132.26237,23.21521,0.0,4.74788,2.59100,0.0,0,0,3.86401,3.71920,4372.85010,AM
3,2,7500,6,0,0.05204,1425.33899,0.0,18.0,74.17464,4.12081,703.14191,238.53604,77.33061,260.57764,48.50479,0.0,4.26212,2.32592,0.0,0,0,23.05599,19.09926,2697.36279,AM
4,3,7483,6,0,0.12645,165.70847,0.0,18.0,20.95384,1.16410,85.62875,16.75062,20.79719,18.61985,3.20796,0.0,1.06000,0.57846,0.0,0,0,7.63000,8.22769,295.02179,AM

In [91]:
ft_dict={1:'Freeway',2:'Freeway',3:'Expressway',4:'Collector', 5:'Ramp',6:'CentroidConnector', 7:'Arterial', 8:'Freeway',9:'Special',10:'Toll'}
at_dict={1:'CBD', 2:'Urban Business', 3:'Urban', 4:'Suburban', 5:'Rural', 0:'Regional Core'}

combined_loaded_network_tm15['facilityType'] = combined_loaded_network_tm15.FT.map(ft_dict)
combined_loaded_network_tm15['areaType'] = combined_loaded_network_tm15.AT.map(at_dict)

In [82]:
ft_dict={1:'Freeway',2:'Freeway',3:'Expressway',4:'Collector', 5:'Ramp',6:'CentroidConnector', 7:'Arterial', 8:'Freeway',9:'Special',10:'Toll'}
at_dict={1:'CBD', 2:'Urban Business', 3:'Urban', 4:'Suburban', 5:'Rural', 0:'Regional Core'}

combined_loaded_network_tm15['facilityType'] = combined_loaded_network_tm15.FT.map(ft_dict)
combined_loaded_network_tm15['areaType'] = combined_loaded_network_tm15.AT.map(at_dict)

ft_dict={1:'Freeway',2:'Expressway',3:'Ramp',4:'Arterial', 5:'Arterial',6:'Collector', 7:'Local', 8:'CentroidConnector'}
at_dict={1:'CBD', 2:'Urban Business', 3:'Urban', 4:'Suburban', 5:'Rural', 0:'Regional Core'}

combined_loaded_network['facilityType'] = combined_loaded_network.FT.map(ft_dict)
combined_loaded_network['areaType'] = combined_loaded_network.AT.map(at_dict)

In [59]:
# pems=pd.read_csv('../validation/Input/pems_AB_vol_re_v6.csv')

# pems = pems[pems['AB1M_EA']>0]
# pems = pems.fillna(0)
# for timeperiod in ['EA','AM','MID','PM','EV']:
#     pems['TOT_VOL_AB_M_'+timeperiod] = pems['AB1M_'+timeperiod] + pems['AB2M_'+timeperiod]
#     pems['TOT_VOL_AB_O_'+timeperiod] = pems['AB1O_'+timeperiod] + pems['AB2O_'+timeperiod]

#     pems['TOT_VOL_BA_M_'+timeperiod] = pems['BA1M_'+timeperiod] + pems['BA2M_'+timeperiod]
#     pems['TOT_VOL_BA_O_'+timeperiod] = pems['BA1O_'+timeperiod] + pems['BA2O_'+timeperiod]

# pems=pems[['link_id',
#             'S_ids',
#             'is_AB_vol',
#             'TOT_VOL_AB_M_EA',
#             'TOT_VOL_AB_O_EA',
#             'TOT_VOL_BA_M_EA',
#             'TOT_VOL_BA_O_EA',
#             'TOT_VOL_AB_M_AM',
#             'TOT_VOL_AB_O_AM',
#             'TOT_VOL_BA_M_AM',
#             'TOT_VOL_BA_O_AM',
#             'TOT_VOL_AB_M_MID',
#             'TOT_VOL_AB_O_MID',
#             'TOT_VOL_BA_M_MID',
#             'TOT_VOL_BA_O_MID',
#             'TOT_VOL_AB_M_PM',
#             'TOT_VOL_AB_O_PM',
#             'TOT_VOL_BA_M_PM',
#             'TOT_VOL_BA_O_PM',
#             'TOT_VOL_AB_M_EV',
#             'TOT_VOL_AB_O_EV',
#             'TOT_VOL_BA_M_EV',
#             'TOT_VOL_BA_O_EV']]

# pems_am = pems[['link_id','S_ids','is_AB_vol','TOT_VOL_AB_M_AM',
#             'TOT_VOL_AB_O_AM',
#             'TOT_VOL_BA_M_AM',
#             'TOT_VOL_BA_O_AM']]
# pems_am['TIMEPERIOD']='AM'
# pems_am=pems_am.rename(columns={'TOT_VOL_AB_M_AM':'PEMS_TOT_VOL_AB_M',
#                                 'TOT_VOL_AB_O_AM':'PEMS_TOT_VOL_AB_O',
#                                 'TOT_VOL_BA_M_AM':'PEMS_TOT_VOL_BA_M',
#                                 'TOT_VOL_BA_O_AM':'PEMS_TOT_VOL_BA_O'})

# pems_pm = pems[['link_id','S_ids','is_AB_vol',
#             'TOT_VOL_AB_M_PM',
#             'TOT_VOL_AB_O_PM',
#             'TOT_VOL_BA_M_PM',
#             'TOT_VOL_BA_O_PM',]]
# pems_pm['TIMEPERIOD']='PM'
# pems_pm=pems_pm.rename(columns={'TOT_VOL_AB_M_PM':'PEMS_TOT_VOL_AB_M',
#                                 'TOT_VOL_AB_O_PM':'PEMS_TOT_VOL_AB_O',
#                                 'TOT_VOL_BA_M_PM':'PEMS_TOT_VOL_BA_M',
#                                 'TOT_VOL_BA_O_PM':'PEMS_TOT_VOL_BA_O'})

# pems_md = pems[['link_id','S_ids','is_AB_vol',
#             'TOT_VOL_AB_M_MID',
#             'TOT_VOL_AB_O_MID',
#             'TOT_VOL_BA_M_MID',
#             'TOT_VOL_BA_O_MID',]]
# pems_md['TIMEPERIOD']='MD'
# pems_md=pems_md.rename(columns={'TOT_VOL_AB_M_MID':'PEMS_TOT_VOL_AB_M',
#                                 'TOT_VOL_AB_O_MID':'PEMS_TOT_VOL_AB_O',
#                                 'TOT_VOL_BA_M_MID':'PEMS_TOT_VOL_BA_M',
#                                 'TOT_VOL_BA_O_MID':'PEMS_TOT_VOL_BA_O'})

# pems_ea = pems[['link_id','S_ids','is_AB_vol',
#             'TOT_VOL_AB_M_EA',
#             'TOT_VOL_AB_O_EA',
#             'TOT_VOL_BA_M_EA',
#             'TOT_VOL_BA_O_EA',]]
# pems_ea['TIMEPERIOD']='EA'
# pems_ea=pems_ea.rename(columns={'TOT_VOL_AB_M_EA':'PEMS_TOT_VOL_AB_M',
#                                 'TOT_VOL_AB_O_EA':'PEMS_TOT_VOL_AB_O',
#                                 'TOT_VOL_BA_M_EA':'PEMS_TOT_VOL_BA_M',
#                                 'TOT_VOL_BA_O_EA':'PEMS_TOT_VOL_BA_O'})

# pems_ev = pems[['link_id','S_ids','is_AB_vol',
#             'TOT_VOL_AB_M_EV',
#             'TOT_VOL_AB_O_EV',
#             'TOT_VOL_BA_M_EV',
#             'TOT_VOL_BA_O_EV']]
# pems_ev['TIMEPERIOD']='EV'
# pems_ev=pems_ev.rename(columns={'TOT_VOL_AB_M_EV':'PEMS_TOT_VOL_AB_M',
#                                 'TOT_VOL_AB_O_EV':'PEMS_TOT_VOL_AB_O',
#                                 'TOT_VOL_BA_M_EV':'PEMS_TOT_VOL_BA_M',
#                                 'TOT_VOL_BA_O_EV':'PEMS_TOT_VOL_BA_O'})



# pems_all_tp = pd.concat([pems_am, pems_pm, pems_md, pems_ea, pems_ev], ignore_index=True)

# pems_all_tp.head()

In [92]:
combined_loaded_network_24_hours_tm15 = combined_loaded_network_tm15.groupby(['A', 'B',  'FT', 'AT', 'DISTANCE', 'facilityType', 'areaType']).sum().reset_index()
combined_loaded_network_24_hours_tm15['TIMEPERIOD']='24 Hour'
combined_loaded_network_all_tp_tm15=pd.concat([combined_loaded_network_tm15, combined_loaded_network_24_hours_tm15], ignore_index=True)
combined_loaded_network_all_tp_tm15

,A,B,FT,AT,DISTANCE,V_1,VC_1,CSPD_1,VDT_1,VHT_1,V1_1,V2_1,V3_1,V4_1,V5_1,V6_1,V7_1,V8_1,V9_1,V10_1,V11_1,V12_1,V13_1,VT_1,TIMEPERIOD,facilityType,areaType
0,1,7487,6,0,0.05201,233.77368,0.00000,18.00000,12.15857,0.67548,112.02543,17.76839,7.17606,66.06886,12.84471,0.0,1.04571,0.57066,0.0,0,0,0.90287,2.52628,1273.71936,AM,Dummy,Regional Core
1,1,7489,6,0,0.04758,631.80017,0.00000,18.00000,30.06105,1.67006,272.12457,77.88161,16.90471,188.38115,33.46529,0.0,1.60429,0.87549,0.0,0,0,4.06713,3.03064,2404.69971,AM,Dummy,Regional Core
2,2,7496,6,0,0.06356,532.80865,0.00000,18.00000,33.86532,1.88141,258.31812,62.98396,17.89169,132.26237,23.21521,0.0,4.74788,2.59100,0.0,0,0,3.86401,3.71920,4372.85010,AM,Dummy,Regional Core
3,2,7500,6,0,0.05204,1425.33899,0.00000,18.00000,74.17464,4.12081,703.14191,238.53604,77.33061,260.57764,48.50479,0.0,4.26212,2.32592,0.0,0,0,23.05599,19.09926,2697.36279,AM,Dummy,Regional Core
4,3,7483,6,0,0.12645,165.70847,0.00000,18.00000,20.95384,1.16410,85.62875,16.75062,20.79719,18.61985,3.20796,0.0,1.06000,0.57846,0.0,0,0,7.63000,8.22769,295.02179,AM,Dummy,Regional Core
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202768,20612,3482,6,3,0.04998,0.00000,0.00000,90.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.0,0.00000,0.00000,0.0,0,0,0.00000,0.00000,0.00000,24 Hour,Dummy,Urban
202769,20613,3479,6,3,0.07733,0.00000,0.00000,90.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.0,0.00000,0.00000,0.0,0,0,0.00000,0.00000,0.00000,24 Hour,Dummy,Urban
202770,20614,3434,6,3,0.03615,0.00000,0.00000,90.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.0,0.00000,0.00000,0.0,0,0,0.00000,0.00000,0.00000,24 Hour,Dummy,Urban
202771,38710,3865,6,4,0.01000,0.00000,0.00000,90.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.0,0.00000,0.00000,0.0,0,0,0.00000,0.00000,24149.70227,24 Hour,Dummy,Suburban
202772,38710,9895,2,3,0.10000,24149.70227,2.43586,267.01794,2414.97019,59.02843,9047.42237,7998.06087,2490.16433,3951.74363,232.88433,0.0,5.78966,3.17203,0.0,0,0,84.03908,103.54093,24149.70227,24 Hour,Freeway,Urban

In [83]:
combined_loaded_network_24_hours_tm15 = combined_loaded_network_tm15.groupby(['A', 'B',  'FT', 'AT', 'DISTANCE', 'facilityType', 'areaType']).sum().reset_index()
combined_loaded_network_24_hours_tm15['TIMEPERIOD']='24 Hour'
combined_loaded_network_all_tp_tm15=pd.concat([combined_loaded_network_tm15, combined_loaded_network_24_hours_tm15], ignore_index=True)
combined_loaded_network_24_hours = combined_loaded_network.groupby(['A', 'B', 'MODEL_LINK_ID', 'FT', 'CNTYPE', 'AT', 'DISTANCE', 'facilityType', 'areaType']).sum().reset_index()
combined_loaded_network_24_hours['TIMEPERIOD']='24 Hour'
combined_loaded_network_all_tp=pd.concat([combined_loaded_network, combined_loaded_network_24_hours], ignore_index=True)
combined_loaded_network_all_tp

,A,B,MODEL_LINK_ID,FT,CNTYPE,AT,DISTANCE,V_1,VC_1,CSPD_1,VDT_1,VHT_1,V1_1,V2_1,V3_1,V4_1,V5_1,V6_1,V7_1,V8_1,V9_1,V10_1,V11_1,V12_1,V13_1,VT_1,TIMEPERIOD,facilityType,areaType
0,1,1001671,77108,8,TAZ,2,0.17232,20.56513,0.00734,18.0,3.54369,0.19687,20.00000,0.00000,0.00000,0.36453,0.10030,0,0.0,0.0,0.0,0,0,0.00000,0.00000,20.67799,AM,CentroidConnector,Urban Business
1,1,1021297,78851,8,TAZ,2,0.08112,107.49717,0.03839,18.0,8.72006,0.48445,61.77013,20.36626,11.44621,4.32248,0.69989,0,0.0,0.0,0.0,0,0,5.30000,2.89231,134.90298,AM,CentroidConnector,Urban Business
2,1,1024255,79119,8,TAZ,2,0.07073,40.51770,0.01447,18.0,2.86598,0.15922,38.55987,0.01374,1.21149,0.71299,0.00981,0,0.0,0.0,0.0,0,0,0.00000,0.00000,186.09364,AM,CentroidConnector,Urban Business
3,2,1006730,77532,8,TAZ,1,0.12418,84.12183,0.01026,18.0,10.44653,0.58036,40.00000,20.00000,0.00000,3.42062,0.56000,0,0.0,0.0,0.0,0,0,11.44045,8.14075,85.55912,AM,CentroidConnector,CBD
4,2,1012189,78081,8,TAZ,1,0.07230,157.82741,0.01925,18.0,11.41071,0.63393,100.00000,0.00000,18.46154,8.95938,1.09000,0,0.0,0.0,0.0,0,0,16.85955,11.36694,390.58167,AM,CentroidConnector,CBD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3458450,5300023,6614,90000006,8,TAZ,4,0.27030,0.00000,0.00000,90.0,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0,0.0,0.0,0.0,0,0,0.00000,0.00000,0.00000,24 Hour,CentroidConnector,Suburban
3458451,5300027,5273132,8549443,7,TANA,2,0.29132,0.00000,0.00000,125.0,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0,0.0,0.0,0.0,0,0,0.00000,0.00000,0.00000,24 Hour,Local,Urban Business
3458452,5300027,5286572,8606845,7,TANA,2,0.34949,0.00000,0.00000,125.0,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0,0.0,0.0,0.0,0,0,0.00000,0.00000,0.00000,24 Hour,Local,Urban Business
3458453,5300030,5275307,8616849,6,TANA,3,0.00808,0.00000,0.00000,150.0,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0,0.0,0.0,0.0,0,0,0.00000,0.00000,0.00000,24 Hour,Collector,Urban
3458454,5300031,5282952,8603316,6,TANA,4,0.51863,0.00000,0.00000,150.0,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0,0.0,0.0,0.0,0,0,0.00000,0.00000,0.00000,24 Hour,Collector,Suburban

In [86]:
combined_loaded_network_all_tp_tm15.FT.unique()

array([1, 3, 2, 5, 4], dtype=int64)

In [104]:
tm15_summary = combined_loaded_network_all_tp_tm15.groupby(['facilityType','TIMEPERIOD']).agg(volume=('VT_1','mean'), obs=('V_1','count'))
tm15_summary
#.to_csv('../validation/Output/summary_tm15.csv')

                               volume    obs
facilityType TIMEPERIOD
Arterial     24 Hour     17792.317522  10903
             AM           4247.949194  10903
             EA            484.711274  10903
             EV           2755.320132  10903
             MD           5046.521294  10903
             PM           5257.815627  10903
Collector    24 Hour      5543.344998   7809
             AM           1356.004063   7809
             EA            144.463065   7809
             EV            847.396210   7809
             MD           1527.495373   7809
             PM           1667.986287   7809
Dummy        24 Hour      8022.441515   8843
             AM           1849.886122   8843
             EA            212.033475   8843
             EV           1213.355660   8843
             MD           2381.057556   8843
             PM           2366.108702   8843
Expressway   24 Hour     37454.663661    906
             AM           9352.590111    906
             EA           1289.430304    906
             EV           5776.165975    906
             MD          10035.829190    906
             PM          11000.648081    906
Freeway      24 Hour     43099.549152   3181
             AM          11093.123963   3181
             EA           2033.241883   3178
             EV           7077.798027   3178
             MD          11100.112433   3178
             PM          11814.333976   3181
Ramp         24 Hour      7680.170385   2155
             AM           1825.016414   2155
             EA            265.397707   2155
             EV           1282.646073   2155
             MD           2160.449780   2155
             PM           2146.660411   2155

In [103]:
bcm_summary=combined_loaded_network_all_tp.groupby(['facilityType','TIMEPERIOD']).agg(volume=('VT_1','mean'), obs=('V_1','count'))
bcm_summary
#.to_csv('../validation/Output/summary.csv')

                                    volume     obs
facilityType      TIMEPERIOD
Arterial          24 Hour      8476.895114   96520
                  AM           2077.328991   96521
                  EA            183.176222   96521
                  EV           1270.880797   96521
                  MD           2363.632820   96521
                  PM           2581.788459   96521
CentroidConnector 24 Hour      1451.426678   46946
                  AM            332.370829   46946
                  EA             30.044454   46946
                  EV            221.361180   46946
                  MD            437.350254   46946
                  PM            430.299961   46946
Collector         24 Hour      3300.129439   99981
                  AM            807.405863   99981
                  EA             70.064888   99981
                  EV            492.437987   99981
                  MD            923.181779   99981
                  PM           1007.038922   99981
Expressway        24 Hour     19167.682953    3016
                  AM           5005.519046    3016
                  EA            481.946056    3016
                  EV           2785.020142    3016
                  MD           4999.030811    3016
                  PM           5896.166898    3016
Freeway           24 Hour     40047.479542    3070
                  AM          10420.758373    3070
                  EA           1282.751606    3070
                  EV           6686.702795    3070
                  MD          10568.904484    3070
                  PM          11088.362284    3070
Local             24 Hour       938.719839  304938
                  AM            227.865437  304938
                  EA             18.469093  304938
                  EV            135.092129  304938
                  MD            263.279706  304938
                  PM            294.013474  304938
Ramp              24 Hour      5160.111803    6934
                  AM           1292.870231    6934
                  EA            131.179950    6934
                  EV            800.919729    6934
                  MD           1419.361466    6934
                  PM           1515.780426    6934

In [105]:
bcm_summary=bcm_summary.reset_index()
bcm_summary.head()

  facilityType TIMEPERIOD       volume    obs
0     Arterial    24 Hour  8476.895114  96520
1     Arterial         AM  2077.328991  96521
2     Arterial         EA   183.176222  96521
3     Arterial         EV  1270.880797  96521
4     Arterial         MD  2363.632820  96521

In [106]:
tm15_summary=tm15_summary.reset_index()
tm15_summary.head()

  facilityType TIMEPERIOD        volume    obs
0     Arterial    24 Hour  17792.317522  10903
1     Arterial         AM   4247.949194  10903
2     Arterial         EA    484.711274  10903
3     Arterial         EV   2755.320132  10903
4     Arterial         MD   5046.521294  10903

In [107]:
comparison=pd.merge(bcm_summary, tm15_summary, how='outer',on=['facilityType','TIMEPERIOD'], suffixes=('_bcm','_tm15'))
comparison.to_csv('../validation/Output/Comparison.csv', index=False)

In [64]:
comparison = pd.merge(combined_loaded_network_all_tp, mtc_pems_all, left_on=['MODEL_LINK_ID','TIMEPERIOD'], right_on=['link_id','time_period'])

comparison['ERROR'] = comparison['VT_1'] - comparison['count']
comparison['SQUARED_ERROR'] =comparison['ERROR']**2


comparison.head()

,A,B,MODEL_LINK_ID,FT,CNTYPE,AT,DISTANCE,V_1,VC_1,CSPD_1,VDT_1,VHT_1,V1_1,V2_1,V3_1,V4_1,V5_1,V6_1,V7_1,V8_1,V9_1,V10_1,V11_1,V12_1,V13_1,VT_1,TIMEPERIOD,facilityType,areaType,link_id,time_period,count,ERROR,SQUARED_ERROR
0,1002422,1021187,2440,1,TANA,3,0.59638,5843.08252,0.13912,59.99951,3484.68604,58.07857,4492.83496,718.99902,337.56210,156.33270,26.79285,0,0.00000,0.00000,0.0,0,0,44.04688,39.72115,5843.08252,AM,Freeway,Urban,2440.0,AM,17365.450704,-11522.368184,1.327650e+08
1,1004082,1015322,4204,1,TANA,2,0.27655,31811.72461,0.75742,49.49789,8797.44238,177.73370,25622.41797,3786.65625,1153.32446,429.90738,243.48018,0,8.51998,4.64951,0.0,0,0,149.33574,169.95435,31811.72461,AM,Freeway,Urban Business,4204.0,AM,30832.685714,979.038896,9.585172e+05
2,1004498,1016248,4659,1,TANA,3,0.51564,4272.27930,0.12715,59.99971,2202.97632,36.71645,3200.81470,462.71832,291.98416,186.64474,29.53955,0,0.00000,0.00000,0.0,0,0,40.70000,30.33846,4272.27930,AM,Freeway,Urban,4659.0,AM,12194.520548,-7922.241248,6.276191e+07
3,1004761,1019173,4951,1,TANA,3,0.33238,26509.53906,0.63118,56.01966,8811.24219,157.28839,19813.84375,3639.84253,1562.02429,596.96942,204.19446,0,23.73065,12.95025,0.0,0,0,200.09804,251.68990,26509.53906,AM,Freeway,Urban,4951.0,AM,29203.750000,-2694.210940,7.258773e+06
4,1005888,1023698,38305,1,TANA,3,0.61401,5371.77490,0.15987,59.99887,3298.31421,54.97293,4049.01416,607.81018,301.71902,230.39639,37.56757,0,4.25999,2.32475,0.0,0,0,54.90000,46.21539,5371.77490,AM,Freeway,Urban,38305.0,AM,11746.352113,-6374.577213,4.063523e+07

In [65]:
test=comparison[comparison['facilityType']=='Arterial'][['TIMEPERIOD','VT_1','count']]
test.groupby(['TIMEPERIOD']).mean()

                   VT_1         count
TIMEPERIOD
24 Hour     3303.792768  72668.939127
AM           972.772334  17079.055710
EA            77.520000   4972.830944
EV           342.249604  13754.288503
MD           950.076746  20109.709374
PM           961.174084  16753.054597

In [66]:
facility_dict=dict(zip(combined_loaded_network_all_tp['MODEL_LINK_ID'], combined_loaded_network_all_tp['facilityType']))
mtc_pems_all['facilityType']=mtc_pems_all['link_id'].map(facility_dict)
mtc_pems_all.head()

   link_id time_period         count facilityType
0   2440.0          AM  17365.450704      Freeway
1   2440.0          EA   3094.287879      Freeway
2   2440.0          EV  16559.266667      Freeway
3   2440.0          MD  19104.344262      Freeway
4   2440.0          PM  22423.323529      Freeway

In [67]:
mtc_pems_all.groupby(['facilityType','time_period'])['count'].describe()

                          count          mean           std           min  \
facilityType time_period
Arterial     24 Hour        5.0  72668.939127  96364.902380  25865.197665
             AM             5.0  17079.055710  19589.040331   5981.111111
             EA             5.0   4972.830944   6746.571025    577.428571
             EV             5.0  13754.288503  22518.946011   3616.466667
             MD             5.0  20109.709374  27443.392463   6243.622951
             PM             5.0  16753.054597  20405.235438   7337.617647
Expressway   24 Hour        8.0  21462.252544   8011.656796  16563.574788
             AM             8.0   5685.753643   2708.675200   2776.694444
             EA             8.0   1425.849264    961.064089      5.313433
             EV             8.0   2659.724080   1156.388091   1645.206897
             MD             8.0   5924.114445   2416.027841   4209.047619
             PM             8.0   5766.811112   2762.559504   3153.985075
Freeway      24 Hour      946.0  75360.892893  33482.249526    244.350602
             AM           942.0  17677.696980   8195.277263     93.818182
             EA           939.0   4075.082513   3094.799462      0.035714
             EV           929.0  14213.562276   7961.889718     47.321429
             MD           937.0  20987.074148   9345.395947     40.517241
             PM           942.0  19048.008291   8194.527194     48.600000
Ramp         24 Hour        9.0  56423.518911  38885.256537  11994.579995
             AM             9.0  12057.470739   9519.800771   4079.663092
             EA             9.0   3855.893768   4954.463616     25.343905
             EV             9.0  11663.762131   6923.501975   1918.080688
             MD             9.0  15804.644015  11304.434595   2934.818074
             PM             9.0  13041.748259   7018.826825   2564.047212

                                   25%           50%           75%  \
facilityType time_period
Arterial     24 Hour      26124.863992  26242.465379  40418.938972
             AM            6220.464789   6282.436620  15554.556497
             EA            2377.994799   2407.148349   2547.611492
             EV            3658.120430   3698.435484   3761.129252
             MD            6271.000000   8223.478261  10718.121795
             PM            7493.220588   7837.519936   7843.980769
Expressway   24 Hour      18323.012879  19004.364697  19477.962239
             AM            3655.556791   5476.548611   7043.671601
             EA            1054.250509   1537.595209   2157.837101
             EV            1817.977586   2394.605932   2827.959959
             MD            4857.485570   4945.246770   5913.853175
             PM            3764.972814   4875.884743   7191.063433
Freeway      24 Hour      54854.474786  75976.254133  98107.984092
             AM           11812.584710  18163.877436  23571.718022
             EA            1745.977972   3260.714799   5915.514709
             EV            8396.064815  13329.749727  19415.704598
             MD           14737.360656  21153.625000  27380.242424
             PM           13596.038440  19240.528850  24763.888742
Ramp         24 Hour      34225.748248  42521.932295  57014.902575
             AM            5897.619718   5986.393939  13025.125000
             EA             571.850816   1653.785714   4567.567164
             EV            8547.400000   9439.103448  12180.934426
             MD            9796.475410  11774.182796  15177.296875
             PM            9143.647059  12784.200000  13795.344728

                                    max
facilityType time_period
Arterial     24 Hour      244693.229629
             AM            51356.709533
             EA            16953.971506
             EV            54037.290684
             MD            69092.323864
             PM            53252.934043
Expressway   24 Hour       41106.727702
             AM            10772.824726
             EA             2519.861538
             EV             5067.828731
             MD            11711.716393
             PM            11274.755656
Freeway      24 Hour      223329.413671
             AM            58921.490654
             EA            18770.956461
             EV            41476.834625
             MD            63410.231902
             PM            53304.746707
Ramp         24 Hour      125737.760379
             AM            28303.071429
             EA            12408.881533
             EV            23969.664797
             MD            36683.258333
             PM            25119.775592

In [68]:
volume_cat = [0,100,1000,2000,5000,10000,30000,50000,100000,200000]

combined_loaded_network_all_tp['vol_cat'] = pd.cut(combined_loaded_network_all_tp['VT_1'], volume_cat)
combined_loaded_network_all_tp.head()

,A,B,MODEL_LINK_ID,FT,CNTYPE,AT,DISTANCE,V_1,VC_1,CSPD_1,VDT_1,VHT_1,V1_1,V2_1,V3_1,V4_1,V5_1,V6_1,V7_1,V8_1,V9_1,V10_1,V11_1,V12_1,V13_1,VT_1,TIMEPERIOD,facilityType,areaType,vol_cat
0,1002422,1021187,2440,1,TANA,3,0.59638,5843.08252,0.13912,59.99951,3484.68604,58.07857,4492.83496,718.99902,337.56210,156.33270,26.79285,0,0.00000,0.00000,0.0,0,0,44.04688,39.72115,5843.08252,AM,Freeway,Urban,"(5000, 10000]"
1,1004082,1015322,4204,1,TANA,2,0.27655,31811.72461,0.75742,49.49789,8797.44238,177.73370,25622.41797,3786.65625,1153.32446,429.90738,243.48018,0,8.51998,4.64951,0.0,0,0,149.33574,169.95435,31811.72461,AM,Freeway,Urban Business,"(30000, 50000]"
2,1004498,1016248,4659,1,TANA,3,0.51564,4272.27930,0.12715,59.99971,2202.97632,36.71645,3200.81470,462.71832,291.98416,186.64474,29.53955,0,0.00000,0.00000,0.0,0,0,40.70000,30.33846,4272.27930,AM,Freeway,Urban,"(2000, 5000]"
3,1004761,1019173,4951,1,TANA,3,0.33238,26509.53906,0.63118,56.01966,8811.24219,157.28839,19813.84375,3639.84253,1562.02429,596.96942,204.19446,0,23.73065,12.95025,0.0,0,0,200.09804,251.68990,26509.53906,AM,Freeway,Urban,"(10000, 30000]"
4,1005888,1023698,38305,1,TANA,3,0.61401,5371.77490,0.15987,59.99887,3298.31421,54.97293,4049.01416,607.81018,301.71902,230.39639,37.56757,0,4.25999,2.32475,0.0,0,0,54.90000,46.21539,5371.77490,AM,Freeway,Urban,"(5000, 10000]"

In [69]:
combined_loaded_network_all_tp.groupby(['vol_cat','facilityType']).agg({'MODEL_LINK_ID':'count'})

                               MODEL_LINK_ID
vol_cat          facilityType
(0, 100]         Arterial                  1
                 Expressway                0
                 Freeway                  19
                 Ramp                      2
(100, 1000]      Arterial                  5
                 Expressway                6
                 Freeway                 369
                 Ramp                     13
(1000, 2000]     Arterial                  1
                 Expressway                2
                 Freeway                 381
                 Ramp                      4
(2000, 5000]     Arterial                  4
                 Expressway               16
                 Freeway                 766
                 Ramp                      9
(5000, 10000]    Arterial                  0
                 Expressway                6
                 Freeway                 986
                 Ramp                      8
(10000, 30000]   Arterial                  1
                 Expressway                6
                 Freeway                2274
                 Ramp                      3
(30000, 50000]   Arterial                  0
                 Expressway                0
                 Freeway                 333
                 Ramp                      0
(50000, 100000]  Arterial                  0
                 Expressway                0
                 Freeway                 451
                 Ramp                      0
(100000, 200000] Arterial                  0
                 Expressway                0
                 Freeway                  28
                 Ramp                      0

In [70]:
comparison[comparison['VT_1']<100][['A','B','MODEL_LINK_ID','TIMEPERIOD','facilityType','VT_1']]

            A        B  MODEL_LINK_ID TIMEPERIOD facilityType  VT_1
11    1010863  1015850          37676         AM         Ramp   0.0
197   2031320  2131194        2032317         AM   Expressway   0.0
267   2090760  2104751        2104970         AM     Arterial   0.0
292   2104751  2135257        2125215         AM     Arterial   0.0
324   2125098  2158657        2158727         AM   Expressway   0.0
...       ...      ...            ...        ...          ...   ...
5670  3531658  3529690        5041308    24 Hour      Freeway   0.0
5673  3533115  3522979        5044309    24 Hour      Freeway   0.0
5678  3536363  3533115        5052048    24 Hour      Freeway   0.0
5689  4503113  4500938        7003087    24 Hour      Freeway   0.0
5714  4556127  4529222        7041557    24 Hour      Freeway   0.0

[136 rows x 6 columns]

In [71]:
comparison.to_csv('../validation/Output/link_by_link.csv',index=False)

In [72]:
combined_loaded_network_all_tp[combined_loaded_network_all_tp['VT_1']!=0].groupby(['facilityType','TIMEPERIOD'])['VT_1'].describe()

                         count          mean           std          min  \
facilityType TIMEPERIOD
Arterial     24 Hour       2.0   8259.481920   8570.441638   2199.26452
             AM            2.0   2431.930835   2962.957407    336.80356
             EA            2.0    193.800000    244.630662     20.82000
             EV            2.0    855.624010    833.808564    266.03232
             MD            2.0   2375.191865   2385.357445    688.48944
             PM            2.0   2402.935210   2143.687559    887.11920
Expressway   24 Hour       6.0  16826.557023   2635.941750  13909.95345
             AM            6.0   5252.582742   2116.263183   2003.35510
             EA            6.0    644.968848    147.743399    395.66385
             EV            6.0   2274.764505    811.963076   1365.34094
             MD            6.0   4071.684855    715.712954   3421.60474
             PM            6.0   4582.556073   2053.750725   2846.84204
Freeway      24 Hour     935.0  52010.136106  24789.342967    110.64000
             AM          935.0  13277.438253   7640.407618     20.00000
             EA          932.0   1695.327509   1106.023961      8.70385
             EV          935.0   8847.344293   5426.755604      3.08000
             MD          935.0  13764.597727   7267.658071     20.94000
             PM          935.0  14430.867878   7234.279437     44.30000
Ramp         24 Hour       7.0  10713.998136   9040.147541   1285.39058
             AM            7.0   2028.147124   1656.408173    444.09207
             EA            6.0    319.679877    273.832572      4.23000
             EV            6.0   2294.492082   2447.034844     62.63385
             MD            6.0   3846.258232   3143.263383    576.80292
             PM            7.0   3148.339420   2239.706437    197.63174

                                  25%           50%           75%  \
facilityType TIMEPERIOD
Arterial     24 Hour      5229.373220   8259.481920  11289.590620
             AM           1384.367197   2431.930835   3479.494473
             EA            107.310000    193.800000    280.290000
             EV            560.828165    855.624010   1150.419855
             MD           1531.840653   2375.191865   3218.543077
             PM           1645.027205   2402.935210   3160.843215
Expressway   24 Hour     14764.018330  16741.941575  18409.075620
             AM           3954.434630   5768.662595   7003.174437
             EA            583.146725    676.091930    761.550388
             EV           1737.571533   2143.383790   2652.399963
             MD           3430.152468   4015.193480   4580.283690
             PM           3169.805543   3695.198490   5746.460393
Freeway      24 Hour     34068.063750  50741.809090  69200.909485
             AM           6842.422120  12824.416020  18560.829100
             EA            797.032320   1460.300050   2354.884828
             EV           4564.653080   7779.903810  12512.901855
             MD           8450.551760  12728.139650  19570.061525
             PM           8958.103025  14262.371090  19384.587890
Ramp         24 Hour      4416.433815   7503.694400  15837.106465
             AM            924.259430   1260.715820   2748.685790
             EA            138.942693    286.174615    435.928848
             EV            424.149410   1356.402010   4377.135195
             MD           1324.321933   3240.199100   6086.355957
             PM           1290.874785   4227.966800   4355.166260

                                  max
facilityType TIMEPERIOD
Arterial     24 Hour      14319.69932
             AM            4527.05811
             EA             366.78000
             EV            1445.21570
             MD            4061.89429
             PM            3918.75122
Expressway   24 Hour      20496.00799
             AM            7210.44580
             EA             779.76385
             EV            3572.10571
             MD            4974.33154
             PM            7833.20850
Freeway      24 Hour     121425.15088
             AM           39465.52344
             EA            5902.20313
             EV           29520.47266
             MD           36813.16406
             PM           41117.85938
Ramp         24 Hour      25701.82141
             AM            5146.33154
             EA             765.78772
             EV            5494.06982
             MD            8299.57715
             PM            6320.69531

In [73]:
comparison['TIMEPERIOD'].unique()

array(['AM', 'PM', 'MD', 'EA', 'EV', '24 Hour'], dtype=object)

In [74]:
summary=comparison[comparison['TIMEPERIOD']=='24 Hour'].groupby('facilityType').agg(Number_of_Observation=('VT_1','count'),
                                               Mean_Observed_Volume=('count','mean'),
                                               Mean_Model_Volume=('VT_1','mean'),
                                               MEAN_SQUARED_ERROR=('SQUARED_ERROR','mean')).reset_index()

summary['% RMSE'] =100*(summary['MEAN_SQUARED_ERROR']**0.5)/summary['Mean_Observed_Volume']

summary
#.to_csv('../validation/Output/AllTimePeriod.csv')

,facilityType,Number_of_Observation,Mean_Observed_Volume,Mean_Model_Volume,MEAN_SQUARED_ERROR,% RMSE
0,Arterial,5,72668.939127,3303.792768,1.132705e+10,146.456812
1,Expressway,8,21462.252544,12619.917767,1.824747e+08,62.939905
2,Freeway,946,75360.892893,51405.367081,1.260172e+09,47.105195
3,Ramp,9,56423.518911,8333.109661,3.997523e+09,112.056045

In [75]:
comparison_df_dict={}
for timeperiod in ['AM','PM','MD','EA','EV','24 Hour']:

    summary=comparison[comparison['TIMEPERIOD']==timeperiod].groupby('facilityType').agg(Number_of_Observation=('VT_1','count'),
                                               Mean_Observed_Volume=('count','mean'),
                                               Mean_Model_Volume=('VT_1','mean'),
                                               MEAN_SQUARED_ERROR=('SQUARED_ERROR','mean')).reset_index()

    summary['% RMSE'] =100*(summary['MEAN_SQUARED_ERROR']**0.5)/summary['Mean_Observed_Volume']
    summary['TIMEPERIOD']=timeperiod
    comparison_df_dict[timeperiod] = summary

    #summary.to_csv('../validation/Output/Summary_'+timeperiod+'.csv')

final=pd.concat(comparison_df_dict.values(), ignore_index=True)

In [76]:
final

,facilityType,Number_of_Observation,Mean_Observed_Volume,Mean_Model_Volume,MEAN_SQUARED_ERROR,% RMSE,TIMEPERIOD
0,Arterial,5,17079.055710,972.772334,5.089964e+08,132.097163,AM
1,Expressway,8,5685.753643,3939.437056,8.257728e+06,50.540817,AM
2,Freeway,942,17677.696980,13138.592991,6.585705e+07,45.906633,AM
3,Ramp,9,12057.470739,1577.447763,1.993799e+08,117.107424,AM
4,Arterial,5,16753.054597,961.174084,5.307350e+08,137.513355,PM
5,Expressway,8,5766.811112,3436.917055,1.432636e+07,65.634507,PM
6,Freeway,942,19048.008291,14280.616534,7.305405e+07,44.871705,PM
7,Ramp,9,13041.748259,2448.708438,1.700743e+08,99.996210,PM
8,Arterial,5,20109.709374,950.076746,8.957838e+08,148.831829,MD
9,Expressway,8,5924.114445,3053.763641,1.502211e+07,65.424733,MD
10,Freeway,937,20987.074148,13627.059303,1.102530e+08,50.031486,MD
11,Ramp,9,15804.644015,2564.172154,3.224819e+08,113.623443,MD
12,Arterial,5,4972.830944,77.520000,5.867686e+07,154.038657,EA
13,Expressway,8,1425.849264,483.726636,1.936722e+06,97.602293,EA
14,Freeway,939,4075.082513,1673.302661,1.228346e+07,86.005061,EA
15,Ramp,9,3855.893768,213.119918,3.557873e+07,154.692816,EA
16,Arterial,5,13754.288503,342.249604,5.636716e+08,172.613579,EV
17,Expressway,8,2659.724080,1706.073379,4.051655e+06,75.679741,EV
18,Freeway,929,14213.562276,8763.455154,6.425626e+07,56.396844,EV
19,Ramp,9,11663.762131,1529.661388,1.640676e+08,109.817789,EV
20,Arterial,5,72668.939127,3303.792768,1.132705e+10,146.456812,24 Hour
21,Expressway,8,21462.252544,12619.917767,1.824747e+08,62.939905,24 Hour
22,Freeway,946,75360.892893,51405.367081,1.260172e+09,47.105195,24 Hour
23,Ramp,9,56423.518911,8333.109661,3.997523e+09,112.056045,24 Hour

In [77]:
comparison = pd.merge(combined_loaded_network, mtc_pems_all, left_on=['MODEL_LINK_ID','TIMEPERIOD'], right_on=['link_id','time_period'])


comparison['ERROR'] = comparison['VT_1'] - comparison['PEMS_TOT_VOL_AB_M']
comparison['SQUARED_ERROR'] =comparison['ERROR']*comparison['ERROR']

comparison['SUM_SQUARED_ERROR'] = comparison.groupby(['MODEL_LINK_ID'])['SQUARED_ERROR'].transform(sum)
comparison['MEAN_SUM_SQUARED_ERROR'] = comparison.groupby(['MODEL_LINK_ID'])['SUM_SQUARED_ERROR'].transform('mean')
comparison['RMSE'] = comparison['MEAN_SUM_SQUARED_ERROR'] ** 0.5

comparison.to_excel('../validation/Output/ValidationSummary.xlsx')
# comparison['TOTAL_MODELED_VOL'] = comparison['V1_1']+comparison['V2_1']+comparison['V3_1']+comparison['V4_1']+comparison['V5_1']+comparison['V6_1']+comparison['V7_1']+comparison['V8_1']+comparison['V9_1']+comparison['V10_1']+comparison['V11_1']+comparison['V12_1']+comparison['V13_1']
# comparison[['V1_1', 'V2_1', 'V3_1', 'V4_1',
#        'V5_1', 'V6_1', 'V7_1', 'V8_1', 'V9_1', 'V10_1', 'V11_1', 'V12_1',
#        'V13_1','VT_1','TOTAL_MODELED_VOL']].sum()

KeyError: 'PEMS_TOT_VOL_AB_M'

In [ ]:
comparison_24_hr = comparison.groupby(['A', 'B', 'MODEL_LINK_ID', 'FT', 'CNTYPE', 'AT', 'DISTANCE', 'CAPCLASS',
       'SPEED', 'FFS', 'FFT', 'CTIM', 'LANES', 'USECLASS','facilityType', 'areaType','S_ids']).sum().reset_index()
comparison_24_hr['TIMEPERIOD'] = '24 Hour'
comparison_24_hr['ERROR'] = comparison_24_hr['VT_1'] - comparison_24_hr['PEMS_TOT_VOL_AB_M']
comparison_24_hr['SQUARED_ERROR'] =comparison_24_hr['ERROR']*comparison_24_hr['ERROR']

comparison_24_hr['SUM_SQUARED_ERROR'] = comparison_24_hr.groupby(['MODEL_LINK_ID'])['SQUARED_ERROR'].transform(sum)
comparison_24_hr['MEAN_SUM_SQUARED_ERROR'] = comparison_24_hr.groupby(['MODEL_LINK_ID'])['SUM_SQUARED_ERROR'].transform('mean')
comparison_24_hr['RMSE'] = comparison_24_hr['MEAN_SUM_SQUARED_ERROR'] ** 0.5

comparison_24_hr[comparison.columns].to_csv('../validation/Output/all_timeperiod.csv',index=False)

In [ ]:
columns=['A',
 'B',
 'BIKE_ACCESS',
 'DRIVE_ACCESS','COUNTY',
 'MODEL_LINK_ID',
 'RAIL_ONLY',
 'FT','NMT2010',
 'NMT2020',
 'TOLLBOOTH','CNTYPE',
 'DISTANCE',
 'LANES_EA',
 'LANES_AM',
 'LANES_MD',
 'LANES_PM',
 'LANES_EV',
 'USECLASS_EA',
 'USECLASS_AM',
 'USECLASS_MD',
 'USECLASS_PM',
 'USECLASS_EV',
 'FEET','AT',
 'CAPCLASS',
 'SPEED',
 'FFS',
 'FFT',
 'LANES',
 'PNROK','VOL_S2AV',
 'VOL_S3AV',
 'VOLT_DAAV',
 'VOLT_S2AV',
 'VOLT_S3AV',
 'CTIMEA',
 'CSPDEA',
 'VCEA',
 'USEEA',
 'VOLEA_DA',
 'VOLEA_S2',
 'VOLEA_S3',
 'VOLEA_SM',
 'VOLEA_HV',
 'VOLEA_DAT',
 'VOLEA_S2T',
 'VOLEA_S3T',
 'VOLEA_SMT',
 'VOLEA_HVT',
 'VOLEA_DAAV',
 'VOLEA_S2AV',
 'VOLEA_S3AV',
 'VOLEA_TOT',
 'DELAYEA',
 'VMTEA',
 'VHTEA','VOLAM_DA',
 'VOLAM_S2',
 'VOLAM_S3',
 'VOLAM_SM',
 'VOLAM_HV',
 'VOLAM_DAT',
 'VOLAM_S2T',
 'VOLAM_S3T',
 'VOLAM_SMT',
 'VOLAM_HVT',
 'VOLAM_DAAV',
 'VOLAM_S2AV',
 'VOLAM_S3AV',
 'VOLAM_TOT',
 'DELAYAM',
 'VMTAM',
 'VHTAM','VOLMD_DA',
 'VOLMD_S2',
 'VOLMD_S3',
 'VOLMD_SM',
 'VOLMD_HV',
 'VOLMD_DAT',
 'VOLMD_S2T',
 'VOLMD_S3T',
 'VOLMD_SMT',
 'VOLMD_HVT',
 'VOLMD_DAAV',
 'VOLMD_S2AV',
 'VOLMD_S3AV',
 'VOLMD_TOT',
 'DELAYMD',
 'VMTMD',
 'VHTMD','VOLPM_DA',
 'VOLPM_S2',
 'VOLPM_S3',
 'VOLPM_SM',
 'VOLPM_HV',
 'VOLPM_DAT',
 'VOLPM_S2T',
 'VOLPM_S3T',
 'VOLPM_SMT',
 'VOLPM_HVT',
 'VOLPM_DAAV',
 'VOLPM_S2AV',
 'VOLPM_S3AV',
 'VOLPM_TOT',
 'DELAYPM',
 'VMTPM',
 'VHTPM','VOLEV_DA',
 'VOLEV_S2',
 'VOLEV_S3',
 'VOLEV_SM',
 'VOLEV_HV',
 'VOLEV_DAT',
 'VOLEV_S2T',
 'VOLEV_S3T',
 'VOLEV_SMT',
 'VOLEV_HVT',
 'VOLEV_DAAV',
 'VOLEV_S2AV',
 'VOLEV_S3AV',
 'VOLEV_TOT',
 'DELAYEV',
 'VMTEV',
 'VHTEV','VOL24HR_DA',
 'VOL24HR_S2',
 'VOL24HR_S3',
 'VOL24HR_SM',
 'VOL24HR_HV',
 'VOL24HR_DAT',
 'VOL24HR_S2T',
 'VOL24HR_S3T',
 'VOL24HR_SMT',
 'VOL24HR_HVT',
 'VOL24HR_DAAV',
 'VOL24HR_S2AV',
 'VOL24HR_S3AV',
 'VOL24HR_TOT',
 'DELAY24HR',
 'VMT24HR',
 'VHT24HR']
model_results = avgload_network_iter_0[avgload_network_iter_0['MODEL_LINK_ID'].isin(pems.link_id.unique())][columns]

In [ ]:
pems = pems[pems['AB1M_EA']>0]
pems = pems.fillna(0)
for timeperiod in ['EA','AM','MID','PM','EV']:
    pems['TOT_VOL_AB_M_'+timeperiod] = pems['AB1M_'+timeperiod] + pems['AB2M_'+timeperiod]
    pems['TOT_VOL_AB_O_'+timeperiod] = pems['AB1O_'+timeperiod] + pems['AB2O_'+timeperiod]

    pems['TOT_VOL_BA_M_'+timeperiod] = pems['BA1M_'+timeperiod] + pems['BA2M_'+timeperiod]
    pems['TOT_VOL_BA_O_'+timeperiod] = pems['BA1O_'+timeperiod] + pems['BA2O_'+timeperiod]

In [ ]:
comparison = pd.merge(model_results, pems, left_on='MODEL_LINK_ID', right_on='link_id')
ft_dict={1:'Freeway', 5:'Arterial', 8:'CentroidConnector'}
at_dict={2:'Urban Business', 3:'Urban', 4:'Suburban'}

comparison['facilityType'] = comparison.FT.map(ft_dict)
comparison['areaType'] = comparison.AT.map(at_dict)

column_list = ['A',
 'B',
 'COUNTY',
 'MODEL_LINK_ID',
 'FT','facilityType',
 'TOLLBOOTH',
 'CNTYPE',
 'DISTANCE',
 'AT','areaType',
 'FFS',
 'FFT',
 'LANES',
 'VOLEA_TOT', 'VOLAM_TOT', 'VOLMD_TOT', 'VOLPM_TOT', 'VOLEV_TOT',
 'VMTEA','VMTAM','VMTMD','VMTPM','VMTEV',
 'link_id',
 'TOT_VOL_AB_M_EA',
 'TOT_VOL_AB_O_EA',
 'TOT_VOL_BA_M_EA',
 'TOT_VOL_BA_O_EA',
 'TOT_VOL_AB_M_AM',
 'TOT_VOL_AB_O_AM',
 'TOT_VOL_BA_M_AM',
 'TOT_VOL_BA_O_AM',
 'TOT_VOL_AB_M_MID',
 'TOT_VOL_AB_O_MID',
 'TOT_VOL_BA_M_MID',
 'TOT_VOL_BA_O_MID',
 'TOT_VOL_AB_M_PM',
 'TOT_VOL_AB_O_PM',
 'TOT_VOL_BA_M_PM',
 'TOT_VOL_BA_O_PM',
 'TOT_VOL_AB_M_EV',
 'TOT_VOL_AB_O_EV',
 'TOT_VOL_BA_M_EV',
 'TOT_VOL_BA_O_EV']

comparison = comparison[column_list]

comparison['VMT_OBSERVED_EA'] = comparison['TOT_VOL_AB_M_EA']*comparison['DISTANCE']
comparison['VMT_OBSERVED_AM'] = comparison['TOT_VOL_AB_M_AM']*comparison['DISTANCE']
comparison['VMT_OBSERVED_MD'] = comparison['TOT_VOL_AB_M_MID']*comparison['DISTANCE']
comparison['VMT_OBSERVED_PM'] = comparison['TOT_VOL_AB_M_PM']*comparison['DISTANCE']
comparison['VMT_OBSERVED_EV'] = comparison['TOT_VOL_AB_M_EV']*comparison['DISTANCE']

comparison=comparison.rename(columns={
                                        'TOT_VOL_AB_M_MID':'TOT_VOL_AB_M_MD',
                                        'TOT_VOL_AB_O_MID':'TOT_VOL_AB_O_MD',
                                        'TOT_VOL_BA_M_MID':'TOT_VOL_BA_M_MD',
                                        'TOT_VOL_BA_O_MID':'TOT_VOL_BA_O_MD'})

comparson_tp ={}
for timeperiod in ['AM','MD','EA','PM','EV']:
    _df = comparison[['A',
                        'B',
                        'COUNTY',
                        'MODEL_LINK_ID',
                        'FT','facilityType',
                        'TOLLBOOTH',
                        'CNTYPE',
                        'DISTANCE',
                        'AT','areaType',
                        'FFS',
                        'FFT',
                        'LANES','VOL'+timeperiod+'_TOT',
                        'VMT'+timeperiod,
                        'TOT_VOL_AB_M_'+timeperiod,
                        'TOT_VOL_BA_M_'+timeperiod,
                        'VMT_OBSERVED_'+timeperiod]]
    _df['TIMEPERIOD'] = timeperiod
    _df['MODELED_TRAFFIC'] = _df['VOL'+timeperiod+'_TOT']
    _df['OBSERVED_TRAFFIC'] = _df['TOT_VOL_AB_M_'+timeperiod]
    _df['MODELED_VMT'] = _df['VMT'+timeperiod]
    _df['OBSERVED_VMT'] = _df['VMT_OBSERVED_'+timeperiod]
    _df['DIFF_VOL'] = _df['VOL'+timeperiod+'_TOT'] - _df['TOT_VOL_AB_M_'+timeperiod]
    _df['SQUARED_ERROR'] = _df['DIFF_VOL'] * _df['DIFF_VOL']
    _df['DIFF_VMT'] = _df['VMT'+timeperiod] - _df['VMT_OBSERVED_'+timeperiod]

    comparson_tp[timeperiod] = _df[['A',
                        'B',
                        'COUNTY',
                        'MODEL_LINK_ID',
                        'FT','facilityType',
                        'TOLLBOOTH',
                        'CNTYPE',
                        'DISTANCE',
                        'AT','areaType',
                        'FFS',
                        'FFT',
                        'LANES','TIMEPERIOD','MODELED_TRAFFIC','OBSERVED_TRAFFIC',
                        'MODELED_VMT','OBSERVED_VMT','DIFF_VOL','SQUARED_ERROR','DIFF_VMT']]

comparison_df = pd.concat(comparson_tp.values(), ignore_index=True)

C:\Users\USJH70~1\AppData\Local\Temp/ipykernel_21444/91477684.py:76: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _df['TIMEPERIOD'] = timeperiod
C:\Users\USJH70~1\AppData\Local\Temp/ipykernel_21444/91477684.py:77: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _df['MODELED_TRAFFIC'] = _df['VOL'+timeperiod+'_TOT']
C:\Users\USJH70~1\AppData\Local\Temp/ipykernel_21444/91477684.py:78: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _df['OBSERVED_TRAFFIC'] = _df['TOT_VOL_AB_M_'+timeperiod]
C:\Users\USJH70~1\AppData\Local\Temp/ipykernel_21444/91477684.py:79: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _df['MODELED_VMT'] = _df['VMT'+timeperiod]
C:\Users\USJH70~1\AppData\Local\Temp/ipykernel_21444/91477684.py:80: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _df['OBSERVED_VMT'] = _df['VMT_OBSERVED_'+timeperiod]
C:\Users\USJH70~1\AppData\Local\Temp/ipykernel_21444/91477684.py:81: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _df['DIFF_VOL'] = _df['VOL'+timeperiod+'_TOT'] - _df['TOT_VOL_AB_M_'+timeperiod]
C:\Users\USJH70~1\AppData\Local\Temp/ipykernel_21444/91477684.py:82: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _df['SQUARED_ERROR'] = _df['DIFF_VOL'] * _df['DIFF_VOL']
C:\Users\USJH70~1\AppData\Local\Temp/ipykernel_21444/91477684.py:83: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _df['DIFF_VMT'] = _df['VMT'+timeperiod] - _df['VMT_OBSERVED_'+timeperiod]

In [ ]:
comparison_df

,A,B,COUNTY,MODEL_LINK_ID,FT,facilityType,TOLLBOOTH,CNTYPE,DISTANCE,AT,areaType,FFS,FFT,LANES,TIMEPERIOD,MODELED_TRAFFIC,OBSERVED_TRAFFIC,MODELED_VMT,OBSERVED_VMT,DIFF_VOL,SQUARED_ERROR,DIFF_VMT
0,6603,3004598,External,26067351,8,CentroidConnector,0,TAZ,0.34388,4,Suburban,45,0.45850,1,AM,0.00000,3133.0,0.00000,1077.37604,-3133.00000,9.815689e+06,-1077.37604
1,1011771,2558049,Alameda,3055540,1,Freeway,0,TANA,2.53278,2,Urban Business,18,8.44261,5,AM,22631.43555,21820.0,57320.53516,55265.25960,811.43555,6.584277e+05,2055.27556
2,1515129,1531996,'San Mateo',1016063,1,Freeway,0,TANA,0.62543,3,Urban,45,0.83390,3,AM,9564.33105,8285.0,5981.77881,5181.68755,1279.33105,1.636688e+06,800.09126
3,1547569,1513738,'San Mateo',1072290,1,Freeway,0,TANA,0.63532,3,Urban,45,0.84709,3,AM,7641.90479,20075.0,4855.04590,12754.04900,-12433.09521,1.545819e+08,-7899.00310
4,2009122,2001645,'Santa Clara',2009073,1,Freeway,0,TANA,0.69283,3,Urban,45,0.92378,4,AM,5074.68604,20892.0,3515.91333,14474.60436,-15817.31396,2.501874e+08,-10958.69103
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350,3075188,3000064,'Contra Costa',4121834,1,Freeway,0,TANA,1.15224,4,Suburban,30,2.30448,4,EV,104.57692,8401.0,120.49790,9679.96824,-8296.42308,6.883064e+07,-9559.47034
351,3075566,3023623,'Contra Costa',4109549,1,Freeway,0,TANA,2.05361,2,Urban Business,18,6.84536,5,EV,0.00000,24120.0,0.00000,49533.07320,-24120.00000,5.817744e+08,-49533.07320
352,3076318,3001560,'Contra Costa',4111708,1,Freeway,0,TANA,1.40304,4,Suburban,30,2.80608,5,EV,1825.70459,8158.0,2561.54102,11446.00032,-6332.29541,4.009797e+07,-8884.45930
353,3079048,3042537,'Contra Costa',4120008,1,Freeway,0,TANA,2.55886,3,Urban,45,3.41182,4,EV,6585.68164,26353.0,16851.85938,67433.63758,-19767.31836,3.907469e+08,-50581.77820
354,3528799,3025184,'Contra Costa',4074831,1,Freeway,0,TANA,1.83010,4,Suburban,30,3.66020,4,EV,3111.08154,6003.0,5693.58301,10986.09030,-2891.91846,8.363192e+06,-5292.50729

In [ ]:
comparison_df.to_csv('../validation/Output/HighwayValidation.csv', index=False)

In [ ]:
column_list = ['A',
 'B',
 'BIKE_ACCESS',
 'DRIVE_ACCESS',
 'COUNTY',
 'MODEL_LINK_ID',
 'RAIL_ONLY',
 'FT',
 'NMT2010',
 'NMT2020',
 'TOLLBOOTH',
 'CNTYPE',
 'DISTANCE',
 'LANES_EA',
 'USECLASS_EA',
 'FEET',
 'AT',
 'CAPCLASS',
 'SPEED',
 'FFS',
 'FFT',
 'LANES',
 'PNROK',
 'VOL_S2AV',
 'VOL_S3AV',
 'VOLT_DAAV',
 'VOLT_S2AV',
 'VOLT_S3AV',
 'CTIMEA',
 'CSPDEA',
 'VCEA',
 'USEEA',
 'VOLEA_DA',
 'VOLEA_S2',
 'VOLEA_S3',
 'VOLEA_SM',
 'VOLEA_HV',
 'VOLEA_DAT',
 'VOLEA_S2T',
 'VOLEA_S3T',
 'VOLEA_SMT',
 'VOLEA_HVT',
 'VOLEA_DAAV',
 'VOLEA_S2AV',
 'VOLEA_S3AV',
 'VOLEA_TOT',
 'DELAYEA',
 'VMTEA',
 'VHTEA',
 'link_id',
 'is_AB_vol',
 'AB_1_SID',
 'AB1M_EAp',
 'AB2M_EAp',
 'BA1M_EAp',
 'BA2M_EAp',
 'TOT_VOL_AB_M_EA',
 'TOT_VOL_AB_O_EA',
 'TOT_VOL_BA_M_EA',
 'TOT_VOL_BA_O_EA']

ea_comparison = comparison[column_list]

In [ ]:
ea_comparison['Diff_DA'] = ea_comparison['VOLEA_DA'] - ea_comparison['TOT_VOL_AB_M_EA']

ea_comparison['VMT_Observed'] = ea_comparison['TOT_VOL_AB_M_EA'] * ea_comparison['DISTANCE']

ea_comparison['Diff_VMT'] = ea_comparison['VMTEA'] - ea_comparison['VMT_Observed']

ea_comparison.head()

C:\Users\USJH70~1\AppData\Local\Temp/ipykernel_21444/560885322.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ea_comparison['Diff_DA'] = ea_comparison['VOLEA_DA'] - ea_comparison['TOT_VOL_AB_M_EA']
C:\Users\USJH70~1\AppData\Local\Temp/ipykernel_21444/560885322.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ea_comparison['VMT_Observed'] = ea_comparison['TOT_VOL_AB_M_EA'] * ea_comparison['DISTANCE']
C:\Users\USJH70~1\AppData\Local\Temp/ipykernel_21444/560885322.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ea_comparison['Diff_VMT'] = ea_comparison['VMTEA'] - ea_comparison['VMT_Observed']

,A,B,BIKE_ACCESS,DRIVE_ACCESS,COUNTY,MODEL_LINK_ID,RAIL_ONLY,FT,NMT2010,NMT2020,TOLLBOOTH,CNTYPE,DISTANCE,LANES_EA,USECLASS_EA,FEET,AT,CAPCLASS,SPEED,FFS,FFT,LANES,PNROK,VOL_S2AV,VOL_S3AV,VOLT_DAAV,VOLT_S2AV,VOLT_S3AV,CTIMEA,CSPDEA,VCEA,USEEA,VOLEA_DA,VOLEA_S2,VOLEA_S3,VOLEA_SM,VOLEA_HV,VOLEA_DAT,VOLEA_S2T,VOLEA_S3T,VOLEA_SMT,VOLEA_HVT,VOLEA_DAAV,VOLEA_S2AV,VOLEA_S3AV,VOLEA_TOT,DELAYEA,VMTEA,VHTEA,link_id,is_AB_vol,AB_1_SID,AB1M_EAp,AB2M_EAp,BA1M_EAp,BA2M_EAp,TOT_VOL_AB_M_EA,TOT_VOL_AB_O_EA,TOT_VOL_BA_M_EA,TOT_VOL_BA_O_EA,Diff_DA,VMT_Observed,Diff_VMT
0,6603,3004598,0,1,External,26067351,0,8,0,0,0,TAZ,0.34388,1,0,1815.67346,4,48,45,45,0.45850,1,0,0.0,0.00000,0,0.0,0.00000,0.45850,45.0,0.00000,0,0.00,0.00,0.00000,0.00,0.00,0,0.0,0.00000,0,0,0,0.0,0.00000,0.00000,0.0,0.00000,0.00000,26067351,1,402070,99.0,0.0,0.0,0.0,1019.0,1086.0,0.0,0.0,-1019.00,350.41372,-350.41372
1,1011771,2558049,0,1,Alameda,3055540,0,1,0,0,0,TANA,2.53278,5,0,13373.09961,2,21,18,18,8.44261,5,0,5.3,2.89231,0,5.3,2.89231,8.44261,0.0,0.00000,0,1474.34,199.56,94.69692,6.23,4.69,0,5.3,2.89231,0,0,0,5.3,2.89231,1795.90149,0.0,4548.63086,252.70171,3055540,1,404400,99.0,0.0,0.0,0.0,10333.0,10202.0,0.0,0.0,-8858.66,26171.21574,-21622.58488
2,1515129,1531996,0,1,'San Mateo',1016063,0,1,0,0,0,TANA,0.62543,3,0,3302.24756,3,31,45,45,0.83390,3,0,0.0,0.00000,0,0.0,0.00000,0.83390,0.0,0.04080,0,630.27,138.37,19.00769,0.03,0.03,0,0.0,0.00000,0,0,0,0.0,0.00000,787.70770,0.0,492.65262,10.94784,1016063,1,400683,98.0,0.0,0.0,0.0,1075.0,1788.0,0.0,0.0,-444.73,672.33725,-179.68463
3,1547569,1513738,0,1,'San Mateo',1072290,0,1,0,0,0,TANA,0.63532,3,0,3354.48340,3,31,45,45,0.84709,3,0,0.0,0.00000,0,0.0,0.00000,0.84709,0.0,0.03302,0,509.40,120.95,7.10385,0.00,0.00,0,0.0,0.00000,0,0,0,0.0,0.00000,637.45386,0.0,404.98642,8.99970,1072290,1,400071,99.0,0.0,0.0,0.0,8332.0,9007.0,0.0,0.0,-7822.60,5293.48624,-4888.49982
4,2009122,2001645,0,1,'Santa Clara',2009073,0,1,0,0,0,TANA,0.69283,4,0,3658.16162,3,31,45,45,0.92378,4,0,0.0,0.00000,0,0.0,0.00000,0.92378,0.0,0.01961,0,421.93,60.52,18.46154,1.72,1.05,0,0.0,0.00000,0,0,0,0.0,0.00000,503.68155,0.0,348.96753,7.75483,2009073,1,403245,99.0,0.0,0.0,0.0,5155.0,5245.0,0.0,0.0,-4733.07,3571.53865,-3222.57112

In [ ]:
ft_dict={1:'Freeway', 5:'Arterial', 8:'CentroidConnector'}
at_dict={2:'Urban Business', 3:'Urban', 4:'Suburban'}

ea_comparison['facilityType'] = ea_comparison.FT.map(ft_dict)
ea_comparison['areaType'] = ea_comparison.AT.map(at_dict)

C:\Users\USJH70~1\AppData\Local\Temp/ipykernel_21444/3480992164.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ea_comparison['facilityType'] = ea_comparison.FT.map(ft_dict)
C:\Users\USJH70~1\AppData\Local\Temp/ipykernel_21444/3480992164.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ea_comparison['areaType'] = ea_comparison.AT.map(at_dict)

In [ ]:
urban_business =

,A,B,BIKE_ACCESS,DRIVE_ACCESS,COUNTY,MODEL_LINK_ID,RAIL_ONLY,FT,NMT2010,NMT2020,TOLLBOOTH,CNTYPE,DISTANCE,LANES_EA,USECLASS_EA,FEET,AT,CAPCLASS,SPEED,FFS,FFT,LANES,PNROK,VOL_S2AV,VOL_S3AV,VOLT_DAAV,VOLT_S2AV,VOLT_S3AV,CTIMEA,CSPDEA,VCEA,USEEA,VOLEA_DA,VOLEA_S2,VOLEA_S3,VOLEA_SM,VOLEA_HV,VOLEA_DAT,VOLEA_S2T,VOLEA_S3T,VOLEA_SMT,VOLEA_HVT,VOLEA_DAAV,VOLEA_S2AV,VOLEA_S3AV,VOLEA_TOT,DELAYEA,VMTEA,VHTEA,link_id,is_AB_vol,AB_1_SID,AB1M_EAp,AB2M_EAp,BA1M_EAp,BA2M_EAp,TOT_VOL_AB_M_EA,TOT_VOL_AB_O_EA,TOT_VOL_BA_M_EA,TOT_VOL_BA_O_EA,Diff_DA,VMT_Observed,Diff_VMT,facilityType,areaType
0,6603,3004598,0,1,External,26067351,0,8,0,0,0,TAZ,0.34388,1,0,1815.67346,4,48,45,45,0.45850,1,0,0.0,0.00000,0,0.0,0.00000,0.45850,45.0,0.00000,0,0.00,0.00,0.00000,0.00,0.00,0,0.0,0.00000,0,0,0,0.0,0.00000,0.00000,0.0,0.00000,0.00000,26067351,1,402070,99.0,0.0,0.0,0.0,1019.0,1086.0,0.0,0.0,-1019.00,350.41372,-350.41372,CentroidConnector,Suburban
1,1011771,2558049,0,1,Alameda,3055540,0,1,0,0,0,TANA,2.53278,5,0,13373.09961,2,21,18,18,8.44261,5,0,5.3,2.89231,0,5.3,2.89231,8.44261,0.0,0.00000,0,1474.34,199.56,94.69692,6.23,4.69,0,5.3,2.89231,0,0,0,5.3,2.89231,1795.90149,0.0,4548.63086,252.70171,3055540,1,404400,99.0,0.0,0.0,0.0,10333.0,10202.0,0.0,0.0,-8858.66,26171.21574,-21622.58488,Freeway,Urban Business
2,1515129,1531996,0,1,'San Mateo',1016063,0,1,0,0,0,TANA,0.62543,3,0,3302.24756,3,31,45,45,0.83390,3,0,0.0,0.00000,0,0.0,0.00000,0.83390,0.0,0.04080,0,630.27,138.37,19.00769,0.03,0.03,0,0.0,0.00000,0,0,0,0.0,0.00000,787.70770,0.0,492.65262,10.94784,1016063,1,400683,98.0,0.0,0.0,0.0,1075.0,1788.0,0.0,0.0,-444.73,672.33725,-179.68463,Freeway,Urban
3,1547569,1513738,0,1,'San Mateo',1072290,0,1,0,0,0,TANA,0.63532,3,0,3354.48340,3,31,45,45,0.84709,3,0,0.0,0.00000,0,0.0,0.00000,0.84709,0.0,0.03302,0,509.40,120.95,7.10385,0.00,0.00,0,0.0,0.00000,0,0,0,0.0,0.00000,637.45386,0.0,404.98642,8.99970,1072290,1,400071,99.0,0.0,0.0,0.0,8332.0,9007.0,0.0,0.0,-7822.60,5293.48624,-4888.49982,Freeway,Urban
4,2009122,2001645,0,1,'Santa Clara',2009073,0,1,0,0,0,TANA,0.69283,4,0,3658.16162,3,31,45,45,0.92378,4,0,0.0,0.00000,0,0.0,0.00000,0.92378,0.0,0.01961,0,421.93,60.52,18.46154,1.72,1.05,0,0.0,0.00000,0,0,0,0.0,0.00000,503.68155,0.0,348.96753,7.75483,2009073,1,403245,99.0,0.0,0.0,0.0,5155.0,5245.0,0.0,0.0,-4733.07,3571.53865,-3222.57112,Freeway,Urban